.i1303y2k[class][class]{align-items:baseline;display:flex;}

.dir.i1303y2k[class][class]{margin-bottom:var(--fgg-f-l-a);}

.iv1oy2i[class][class]{font-size:20px;font-size:1.25rem;line-height:calc(2 * var(--fgg-f-l-a));min-width:calc(2.5 * var(--fgg-f-l-a));}

.dir.iv1oy2i[class][class]{transform:translateY(1px);}

.dir-ltr.iv1oy2i[class][class]{margin-right:calc(1.5 * var(--fgg-f-l-a));}

.dir-rtl.iv1oy2i[class][class]{margin-left:calc(1.5 * var(--fgg-f-l-a));}
.b1uxatsa[class][class]{font-size:inherit;font-family:inherit;font-weight:inherit;font-style:inherit;font-feature-settings:inherit;font-variant:inherit;line-height:inherit;color:inherit;-webkit-text-decoration:underline;text-decoration:underline;}

@media (hover:hover){
.b1uxatsa[class][class]:hover{color:inherit;-webkit-text-decoration:underline;text-decoration:underline;}

.dir.b1uxatsa[class][class]:hover{cursor:pointer;}}

.b1uxatsa[class][class]:focus{color:inherit;-webkit-text-decoration:underline;text-decoration:underline;}

.fzd8srm[class][class]{width:100%;display:block;}

.s8bhioi[class][class]:not(:focus){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.s8bhioi[class][class]:not(:focus){border:0;padding:0;}

.c1qih7tm[class][class]{-webkit-appearance:none;appearance:none;-webkit-user-select:auto;user-select:auto;color:var(--f-k-smk-x);-webkit-text-decoration:underline;text-decoration:underline;font-weight:var(--jx-zk-pv);position:relative;outline:none;}

.dir.c1qih7tm[class][class]{background:transparent;border:0;cursor:pointer;margin:0;padding:0;border-radius:var(--h-l-f-om-o);text-align:inherit;}

.dir.c1qih7tm[class][class]:disabled{cursor:not-allowed;}

@media (hover:hover){
.c1qih7tm[class][class]:disabled:hover{-webkit-text-decoration:none;text-decoration:none;}}

.c1qih7tm[class][class]:visited{color:var(--f-k-smk-x);-webkit-text-decoration:underline;text-decoration:underline;}

@media (hover:hover){
.c1qih7tm[class][class]:hover{color:var(--bgxgx);-webkit-text-decoration:underline;text-decoration:underline;}

.c1qih7tm[class][class]:hover:disabled{color:var(--j-qkgmf);-webkit-text-decoration:underline;text-decoration:underline;}

.c1qih7tm[class][class]:hover:disabled:hover{-webkit-text-decoration:underline;text-decoration:underline;}}

.c1qih7tm[class][class]:active{color:var(--fo-jk-r-s);-webkit-text-decoration:underline;text-decoration:underline;}

.dir.c1qih7tm[class][class]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c1qih7tm[class][class]:focus::-moz-focus-inner{border:none;}

.c1qih7tm[class][class]:-moz-focusring{outline:none;}

.c1qih7tm[class][class]:focus-visible{color:var(--f-k-smk-x);-webkit-text-decoration:underline;text-decoration:underline;}

.dir.c1qih7tm[class][class]:focus-visible{transition:box-shadow 0.2s var(--itr-yy-z);box-shadow:0 0 0 2px rgb(255,255,255),0 0 0 4px var(--f-k-smk-x);}

@media (prefers-reduced-motion:reduce){
.dir.c1qih7tm[class][class]:focus-visible{transition:none;}}

.c1qih7tm[class][class]:focus[data-focus-visible-added]{color:var(--f-k-smk-x);-webkit-text-decoration:underline;text-decoration:underline;}

.dir.c1qih7tm[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s var(--itr-yy-z);box-shadow:0 0 0 2px rgb(255,255,255),0 0 0 4px var(--f-k-smk-x);}

@media (prefers-reduced-motion:reduce){
.dir.c1qih7tm[class][class]:focus[data-focus-visible-added]{transition:none;}}

.c1qih7tm[class][class]:disabled{color:var(--j-qkgmf);-webkit-text-decoration:underline;text-decoration:underline;}

.c1qih7tm[class][class]:disabled:hover{-webkit-text-decoration:underline;text-decoration:underline;}
.c16f2viy[class][class]{display:flex;align-items:stretch;justify-content:flex-start;flex-wrap:wrap;width:100%;width:calc(100% + var(--b-y-unon));}

.dir.c16f2viy[class][class]{margin-left:calc(-1 * var(--b-y-unon) / 2);margin-right:calc(-1 * var(--b-y-unon) / 2);}

@media (min-width:375px){
.c16f2viy[class][class]{width:calc(100% + var(--b-y-unon));}

.dir.c16f2viy[class][class]{margin-left:calc(-1 * var(--b-y-unon) / 2);margin-right:calc(-1 * var(--b-y-unon) / 2);}}

@media (min-width:744px){
.c16f2viy[class][class]{width:calc(100% + var(--jaa-ni-h));}

.dir.c16f2viy[class][class]{margin-left:calc(-1 * var(--jaa-ni-h) / 2);margin-right:calc(-1 * var(--jaa-ni-h) / 2);}}

@media (min-width:950px){
.c16f2viy[class][class]{width:calc(100% + var(--jaa-ni-h));}

.dir.c16f2viy[class][class]{margin-left:calc(-1 * var(--jaa-ni-h) / 2);margin-right:calc(-1 * var(--jaa-ni-h) / 2);}}

@media (min-width:1128px){
.c16f2viy[class][class]{width:calc(100% + var(--jaa-ni-h));}

.dir.c16f2viy[class][class]{margin-left:calc(-1 * var(--jaa-ni-h) / 2);margin-right:calc(-1 * var(--jaa-ni-h) / 2);}}

@media (min-width:1440px){
.c16f2viy[class][class]{width:calc(100% + var(--jaa-ni-h));}

.dir.c16f2viy[class][class]{margin-left:calc(-1 * var(--jaa-ni-h) / 2);margin-right:calc(-1 * var(--jaa-ni-h) / 2);}}
.hnwb2pb[class][class]{color:inherit;font-size:1em;font-weight:inherit;line-height:inherit;}

.dir.hnwb2pb[class][class]{margin:0;padding:0;}

.hnwb2pb[class][class]:focus{outline:0;}

.ipxe15h[class][class]{display:inline;}
.atm_9s_116y0ak{display:inline-flex;}

.atm_vh_yfq0k3{vertical-align:bottom;}

.atm_ar_vrvcex[class]{flex-direction:row;}

.atm_h_1h6ojuz[class]{align-items:center;}

.atm_rd_1kw7nm4{-webkit-text-decoration:inherit;text-decoration:inherit;}

.dir-ltr.atm_h0_1y44olf[class]{margin-right:4px;}

.dir-rtl.atm_h0_1y44olf[class]{margin-left:4px;}

.dir-ltr.atm_gz_1y44olf[class]{margin-left:4px;}

.dir-rtl.atm_gz_1y44olf[class]{margin-right:4px;}
.d99wcva[class][class]{--dls19-brand-color:var(--ihf-tp-q);--dls19-ui-brand-color:var(--f-k-smk-x);--dls19-pdp-listing-title-weight:var(--jx-zk-pv);--dls19-pdp-listing-title-size:var(--g-zgv-nj);--dls19-pdp-listing-title-line-height:var(--b-x-z-q-l-e);--dls19-brand-gradient:var(--dc-gy-f-v);--dls19-brand-gradient-radial:var(--d-e-vybb);--dls19-brand-gradient-accent:var(--ihf-tp-q);}

.s1yque3w[class][class]{--dls19-brand-color:var(--kd-lqtg);--dls19-ui-brand-color:var(--kd-lqtg);--dls19-pdp-listing-title-weight:var(--e-y-j-d-v-j);--dls19-pdp-listing-title-size:var(--g-zgv-nj);--dls19-pdp-listing-title-line-height:var(--b-x-z-q-l-e);--dls19-brand-gradient:var(--gj-z-dpd);--dls19-brand-gradient-radial:var(--i-n-t-h-mj);--dls19-brand-gradient-accent:#bd1e59;}

.lo3094[class][class]{--dls19-brand-color:var(--d-u-w-o-m-k);--dls19-ui-brand-color:var(--d-u-w-o-m-k);--dls19-pdp-listing-title-weight:var(--e-y-j-d-v-j);--dls19-pdp-listing-title-size:var(--cv-p-u-ui);--dls19-pdp-listing-title-line-height:var(--hu-t-o-g-n);--dls19-brand-gradient:var(--iqds-nv);--dls19-brand-gradient-radial:var(--j-m-v-dtd);--dls19-brand-gradient-accent:#6c0d63;}
.t5p7tdn[class][class]{color:var(--f-k-smk-x);font-family:var(--e-ls-qkw);font-weight:var(--jx-zk-pv);font-size:var(--lhy-d-yl);line-height:var(--fme-bf-w);}

.s1bh1tge[class][class]{color:var(--fo-jk-r-s);font-family:var(--e-ls-qkw);font-weight:var(--e-y-j-d-v-j);font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);}

.dir.s1bh1tge[class][class]{padding-top:var(--fgg-f-l-a);}

.dir.sewcpu6[class][class]{padding-bottom:calc(var(--spacingBottom) * var(--fgg-f-l-a));}

@media (min-width:744px){
.dir.sewcpu6[class][class]{padding-bottom:calc( var(--spacingBottomMediumAndAbove,var(--spacingBottom)) * var(--fgg-f-l-a) );}}

@media (min-width:1128px){
.dir.sewcpu6[class][class]{padding-bottom:calc( var(--spacingBottomLargeAndAbove,var(--spacingBottom)) * var(--fgg-f-l-a) );}}
.bnc5uvq[class][class]{display:inline-block;position:relative;-webkit-text-decoration:none;text-decoration:none;width:auto;padding-top:4px;padding-bottom:4px;padding-left:8px;padding-right:8px;background:lightgrey;color:black;font-size:14px;font-size:0.875rem;font-family:inherit;touch-action:manipulation;-webkit-appearance:none;appearance:none;-webkit-user-select:auto;user-select:auto;font-size:inherit;}

.dir.bnc5uvq[class][class]{cursor:pointer;margin:0;text-align:center;border-width:1px;border-style:solid;border-color:black;background:transparent;border:0;padding-top:0;padding-bottom:0;padding-left:0;padding-right:0;}

.bnc5uvq[class][class]:disabled{opacity:0.3;}

.dir.bnc5uvq[class][class]:disabled{cursor:not-allowed;}

.bnc5uvq[class][class]:disabled{opacity:1;}

.dir.bnc5uvq[class][class]:disabled{cursor:not-allowed;}

.bnc5uvq[class][class]:disabled:hover{-webkit-text-decoration:none;text-decoration:none;}

.b1jjeq29[class][class]{width:100%;}

.b74746k[class][class]:not(:focus){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.b74746k[class][class]:not(:focus){border:0;padding:0;}

.bbso81j[class][class]{font-size:inherit;font-family:inherit;font-weight:inherit;font-style:inherit;font-feature-settings:inherit;font-variant:inherit;line-height:inherit;color:inherit;-webkit-text-decoration:underline;text-decoration:underline;}

@media (hover:hover){
.bbso81j[class][class]:hover{color:inherit;-webkit-text-decoration:underline;text-decoration:underline;}

.dir.bbso81j[class][class]:hover{cursor:pointer;}}

.bbso81j[class][class]:focus{color:inherit;-webkit-text-decoration:underline;text-decoration:underline;}

.b1i20z78[class][class]{width:100%;display:block;}

.dir.b1i20z78[class][class]{text-align:center;}

.b1xeat66[class][class]:not(:focus){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.b1xeat66[class][class]:not(:focus){border:0;padding:0;}

.vczt39c[class][class]{color:var(--f-k-smk-x);-webkit-text-decoration:underline;text-decoration:underline;font-weight:var(--jx-zk-pv);outline:none;}

.dir.vczt39c[class][class]{border-radius:var(--h-l-f-om-o);}

.vczt39c[class][class]:visited,.vczt39c[class][class]:active{color:var(--fo-jk-r-s);-webkit-text-decoration:underline;text-decoration:underline;}

.vczt39c[class][class]:hover{color:var(--bgxgx);-webkit-text-decoration:underline;text-decoration:underline;}

.vczt39c[class][class]:disabled{color:var(--j-qkgmf);-webkit-text-decoration:underline;text-decoration:underline;}

.vczt39c[class][class]:disabled:hover{-webkit-text-decoration:underline;text-decoration:underline;}

.dir.vczt39c[class][class]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.vczt39c[class][class]:focus::-moz-focus-inner{border:none;}

.vczt39c[class][class]:-moz-focusring{outline:none;}

.vczt39c[class][class]:focus-visible{color:var(--f-k-smk-x);-webkit-text-decoration:underline;text-decoration:underline;}

.dir.vczt39c[class][class]:focus-visible{transition:box-shadow 0.2s var(--itr-yy-z);box-shadow:0 0 0 2px rgb(255,255,255),0 0 0 4px var(--f-k-smk-x);}

@media (prefers-reduced-motion:reduce){
.dir.vczt39c[class][class]:focus-visible{transition:none;}}

.vczt39c[class][class]:focus[data-focus-visible-added]{color:var(--f-k-smk-x);-webkit-text-decoration:underline;text-decoration:underline;}

.dir.vczt39c[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s var(--itr-yy-z);box-shadow:0 0 0 2px rgb(255,255,255),0 0 0 4px var(--f-k-smk-x);}

@media (prefers-reduced-motion:reduce){
.dir.vczt39c[class][class]:focus[data-focus-visible-added]{transition:none;}}
.c1d1a0n6[class][class]{display:inline-flex;vertical-align:bottom;flex-direction:row;align-items:center;-webkit-text-decoration:inherit;text-decoration:inherit;}

.dir-ltr.l1fu54kd[class][class]{margin-right:4px;}

.dir-rtl.l1fu54kd[class][class]{margin-left:4px;}

.dir-ltr.tukjzc[class][class]{margin-left:4px;}

.dir-rtl.tukjzc[class][class]{margin-right:4px;}
