.m12aegvk[class][class]{-webkit-overflow-scrolling:touch;max-height:100%;overflow:auto;}
.hpipapi[class][class]{color:inherit;font-size:1em;font-weight:inherit;line-height:inherit;}

.dir.hpipapi[class][class]{margin:0;padding:0;}

.hpipapi[class][class]:focus{outline:0;}

.i1pmzyw7[class][class]{display:inline;}

.s12s7yzj[class][class]{contain:paint;}
.c1h5tsj6[class][class]{-webkit-appearance:none;appearance:none;display:inline-block;border:0;outline:0;margin:-7px;padding:7px;color:buttontext;touch-action:manipulation;display:inline-block;position:relative;color:var(--f-k-smk-x);-webkit-transition:-webkit-transform 0.25s var(--itr-yy-z);outline:none;}

.dir.c1h5tsj6[class][class]{border-radius:50%;background-color:transparent;cursor:pointer;padding:0;margin:0;border:none;background:transparent;transition:transform 0.25s var(--itr-yy-z);}

.c1h5tsj6[class][class]:focus-visible{outline:none;}

.dir.c1h5tsj6[class][class]:focus-visible{transition:box-shadow 0.2s var(--itr-yy-z);box-shadow:0 0 0 1px rgba(0,0,0,0.5),0 0 0 5px rgba(255,255,255,0.7);}

.dir.c1h5tsj6[class][class]:focus-visible::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c1h5tsj6[class][class]:focus-visible:focus::-moz-focus-inner{border:none;}

.c1h5tsj6[class][class]:focus-visible:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.c1h5tsj6[class][class]:focus-visible{transition:none;}}

.c1h5tsj6[class][class]:focus[data-focus-visible-added]{outline:none;}

.dir.c1h5tsj6[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s var(--itr-yy-z);box-shadow:0 0 0 1px rgba(0,0,0,0.5),0 0 0 5px rgba(255,255,255,0.7);}

.dir.c1h5tsj6[class][class]:focus[data-focus-visible-added]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c1h5tsj6[class][class]:focus[data-focus-visible-added]:focus::-moz-focus-inner{border:none;}

.c1h5tsj6[class][class]:focus[data-focus-visible-added]:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.c1h5tsj6[class][class]:focus[data-focus-visible-added]{transition:none;}}

.c1h5tsj6[class][class]:disabled{opacity:0.5;color:graytext;}

.dir.c1h5tsj6[class][class]:disabled{cursor:not-allowed;}

@media (prefers-reduced-motion:reduce){
.dir.c1h5tsj6[class][class]{transition:none;}}

@media (hover:hover){
.c1h5tsj6[class][class]:hover{color:var(--bgxgx);}

.dir.c1h5tsj6[class][class]:hover::before{background:var(---pc-g-v-g);}

.c1h5tsj6[class][class]:hover:disabled{color:var(--j-qkgmf);}

.dir.c1h5tsj6[class][class]:hover:disabled::before{background:transparent;}}

.c1h5tsj6[class][class]:active{color:var(--bgxgx);}

.dir.c1h5tsj6[class][class]:active{transform:scale(0.92);}

.dir.c1h5tsj6[class][class]:active::before{background:var(---pc-g-v-g);}

.dir.c1h5tsj6[class][class]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c1h5tsj6[class][class]:focus::-moz-focus-inner{border:none;}

.c1h5tsj6[class][class]:-moz-focusring{outline:none;}

.dir.c1h5tsj6[class][class]:focus-visible{transition:box-shadow 0.2s var(--itr-yy-z);box-shadow:none;}

@media (prefers-reduced-motion:reduce){
.dir.c1h5tsj6[class][class]:focus-visible{transition:none;}}

.dir.c1h5tsj6[class][class]:focus-visible::before{box-shadow:0 0 0 2px var(--f-k-smk-x),0 0 0 4px rgba(255,255,255,0.8);background:var(---pc-g-v-g);}

.dir.c1h5tsj6[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s var(--itr-yy-z);box-shadow:none;}

@media (prefers-reduced-motion:reduce){
.dir.c1h5tsj6[class][class]:focus[data-focus-visible-added]{transition:none;}}

.dir.c1h5tsj6[class][class]:focus[data-focus-visible-added]::before{box-shadow:0 0 0 2px var(--f-k-smk-x),0 0 0 4px rgba(255,255,255,0.8);background:var(---pc-g-v-g);}

.c1h5tsj6[class][class]:disabled{color:var(--j-qkgmf);}

.dir.c1h5tsj6[class][class]:disabled::before{background:transparent;}

.c1h5tsj6[class][class]::before{content:'';display:block;position:absolute;top:50%;width:32px;height:32px;}

.dir.c1h5tsj6[class][class]::before{border-radius:50%;}

.dir-ltr.c1h5tsj6[class][class]::before{left:50%;transform:translate(-50%,-50%);}

.dir-rtl.c1h5tsj6[class][class]::before{right:50%;transform:translate(50%,-50%);}

.c1h5tsj6[class][class]::before{width:32px;height:32px;}

.i3tjjh1[class][class]{position:relative;}

.b14e81y7[class][class]:not(:focus){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.b14e81y7[class][class]:not(:focus){border:0;padding:0;}

.b1ad3d4a[class][class]:not(:focus){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.b1ad3d4a[class][class]:not(:focus){border:0;padding:0;}
.d99wcva[class][class]{--dls19-brand-color:var(--ihf-tp-q);--dls19-ui-brand-color:var(--f-k-smk-x);--dls19-pdp-listing-title-weight:var(--jx-zk-pv);--dls19-pdp-listing-title-size:var(--g-zgv-nj);--dls19-pdp-listing-title-line-height:var(--b-x-z-q-l-e);--dls19-brand-gradient:var(--dc-gy-f-v);--dls19-brand-gradient-radial:var(--d-e-vybb);--dls19-brand-gradient-accent:var(--ihf-tp-q);}

.s1yque3w[class][class]{--dls19-brand-color:var(--kd-lqtg);--dls19-ui-brand-color:var(--kd-lqtg);--dls19-pdp-listing-title-weight:var(--e-y-j-d-v-j);--dls19-pdp-listing-title-size:var(--g-zgv-nj);--dls19-pdp-listing-title-line-height:var(--b-x-z-q-l-e);--dls19-brand-gradient:var(--gj-z-dpd);--dls19-brand-gradient-radial:var(--i-n-t-h-mj);--dls19-brand-gradient-accent:#bd1e59;}

.lo3094[class][class]{--dls19-brand-color:var(--d-u-w-o-m-k);--dls19-ui-brand-color:var(--d-u-w-o-m-k);--dls19-pdp-listing-title-weight:var(--e-y-j-d-v-j);--dls19-pdp-listing-title-size:var(--cv-p-u-ui);--dls19-pdp-listing-title-line-height:var(--hu-t-o-g-n);--dls19-brand-gradient:var(--iqds-nv);--dls19-brand-gradient-radial:var(--j-m-v-dtd);--dls19-brand-gradient-accent:#6c0d63;}
