.c13cw3wj[class][class]{outline:none;align-items:center;display:inline-flex;height:80px;position:relative;vertical-align:middle;z-index:1;}

.dir.c13cw3wj[class][class]{transition:color 250ms var(--itr-yy-z);}

.dir.c13cw3wj[class][class]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c13cw3wj[class][class]:focus::-moz-focus-inner{border:none;}

.c13cw3wj[class][class]:-moz-focusring{outline:none;}

.c13cw3wj[class][class]::before{bottom:8px;content:'';position:absolute;top:8px;}

.dir.c13cw3wj[class][class]::before{border-radius:var(--i-g-gvoq);left:-8px;right:-8px;}

.dir.c13cw3wj[class][class]:focus-visible::before{transition:box-shadow 0.2s var(--itr-yy-z);box-shadow:0 0 0 2px var(--f-k-smk-x),0 0 0 4px var(--f-mkcy-f);}

@media (prefers-reduced-motion:reduce){
.dir.c13cw3wj[class][class]:focus-visible::before{transition:none;}}

.dir.c13cw3wj[class][class]:focus[data-focus-visible-added]::before{transition:box-shadow 0.2s var(--itr-yy-z);box-shadow:0 0 0 2px var(--f-k-smk-x),0 0 0 4px var(--f-mkcy-f);}

@media (prefers-reduced-motion:reduce){
.dir.c13cw3wj[class][class]:focus[data-focus-visible-added]::before{transition:none;}}

.cbavvlr[class][class]{color:var(--ihf-tp-q);}

.cbavvlr[class][class]:hover{color:var(--ihf-tp-q);}

.c3buc0y[class][class]{color:var(--f-mkcy-f);}

.c3buc0y[class][class]:hover{color:var(--f-mkcy-f);}

.l10sdlqs[class][class]{display:none;}

@media (min-width:1128px){
.l10sdlqs[class][class]{display:block;}}

@media (min-width:1128px){
.bpe4snb[class][class]{display:none;}}
.l1sjr04j[class][class]{display:inline-block;vertical-align:middle;visibility:hidden;}

.dir-ltr.l1sjr04j[class][class]{text-align:left;}

.dir-rtl.l1sjr04j[class][class]{text-align:right;}

@media (min-width:950px){
.dir.l1sjr04j[class][class]{margin:0 auto;}}

.dir-ltr.l1x4ovsg[class][class]{transform-origin:0% 0%;}

.dir-rtl.l1x4ovsg[class][class]{transform-origin:100% 0%;}

@media (min-width:950px){
.dir.l1x4ovsg[class][class]{transform-origin:50% 50%;}}

.l8uybrm[class][class]{width:100%;visibility:visible;}

.llb1jct[class][class]{width:100%;-webkit-transition:-webkit-transform 250ms var(--itr-yy-z), opacity 300ms var(--itr-yy-z) 100ms,visibility 0ms 150ms;visibility:visible;}

.dir.llb1jct[class][class]{transform:scale(1,1) translateY(0);transition:transform 250ms var(--itr-yy-z), opacity 300ms var(--itr-yy-z) 100ms,visibility 0ms 150ms;}

@media (prefers-reduced-motion:reduce){
.dir.llb1jct[class][class]{transition:none;}}

.lrmffsh[class][class]{opacity:0;pointer-events:none;visibility:hidden;will-change:transform,opacity;--view-transition_visibility:hidden;--view-transition_pointer-events:none;}

.dir-ltr.lrmffsh[class][class]{transform:scale(2.5,1.375) translate(-60px,122px);}

.dir-rtl.lrmffsh[class][class]{transform:scale(2.5,1.375) translate(60px,122px);}

@media (min-width:950px){
.dir.lrmffsh[class][class]{transform:scale(2.4390243902439024,1.375) translateY(58px);}}

@media (prefers-reduced-motion:reduce){
.dir.lrmffsh[class][class]{transition:none;}}

.lc9d3st[class][class]{-webkit-transition:-webkit-transform 250ms var(--itr-yy-z), opacity 250ms var(--itr-yy-z), visibility 0ms 125ms;}

.dir.lc9d3st[class][class]{transition:transform 250ms var(--itr-yy-z), opacity 250ms var(--itr-yy-z), visibility 0ms 125ms;}

.bdypfvo[class][class]{position:absolute;width:100%;z-index:2;top:0;pointer-events:none;}

.dir.bdypfvo[class][class]{padding-left:var(--ic-zlb-s);padding-right:var(--ic-zlb-s);}

.dir-ltr.bdypfvo[class][class]{left:0;text-align:left;}

.dir-rtl.bdypfvo[class][class]{right:0;text-align:right;}

@media (min-width:375px){
.dir.bdypfvo[class][class]{padding-left:var(--ic-zlb-s);padding-right:var(--ic-zlb-s);}}

@media (min-width:744px){
.dir.bdypfvo[class][class]{padding-left:var(--f-fw-z-a-i);padding-right:var(--f-fw-z-a-i);}}

@media (min-width:950px){
.dir.bdypfvo[class][class]{padding-left:var(--f-fw-z-a-i);padding-right:var(--f-fw-z-a-i);}}

@media (min-width:1128px){
.dir.bdypfvo[class][class]{padding-left:var(--cy-o-aco);padding-right:var(--cy-o-aco);}}

@media (min-width:1440px){
.dir.bdypfvo[class][class]{padding-left:var(--cy-o-aco);padding-right:var(--cy-o-aco);}}

.bfxfvmm[class][class]{top:64px;}

.dir.bfxfvmm[class][class]{transform-origin:60px 0%;}

@media (min-width:950px){
.bfxfvmm[class][class]{top:0;}

.dir.bfxfvmm[class][class]{transform-origin:50% 0%;}}

.b192n4t3[class][class]{-webkit-transition:-webkit-transform 250ms var(--itr-yy-z), opacity 200ms var(--itr-yy-z);}

.dir.b192n4t3[class][class]{transition:transform 250ms var(--itr-yy-z), opacity 200ms var(--itr-yy-z);}

@media (prefers-reduced-motion:reduce){
.dir.b192n4t3[class][class]{transition:none;}}

.b1wmkqeh[class][class]{opacity:0;pointer-events:none;visibility:hidden;will-change:transform,opacity;--view-transition_visibility:hidden;--view-transition_pointer-events:none;}

.dir-ltr.b1wmkqeh[class][class]{transform:scale(0.4,0.7272727272727273) translate(60px,-122px);}

.dir-rtl.b1wmkqeh[class][class]{transform:scale(0.4,0.7272727272727273) translate(-60px,-122px);}

@media (min-width:950px){
.dir.b1wmkqeh[class][class]{transform:scale(0.41,0.7272727272727273) translateY(-58px);}}

@media (prefers-reduced-motion:reduce){
.dir.b1wmkqeh[class][class]{transition:none;}}

.b13hn6dm[class][class]{-webkit-transition:-webkit-transform 250ms var(--itr-yy-z), opacity 150ms 100ms var(--itr-yy-z),visibility 0ms 125ms;}

.dir.b13hn6dm[class][class]{transition:transform 250ms var(--itr-yy-z), opacity 150ms 100ms var(--itr-yy-z),visibility 0ms 125ms;}

.h1hd102n[class][class]{display:none;--view-transition_visibility:hidden;--view-transition_pointer-events:none;}

.t1c0w1r6[class][class] #sticky-footer-p0{view-transition-name:none;--view-transition-name:none;}

.t1c0w1r6[class][class].enter[class][class]::view-transition-group(*),.t1c0w1r6[class][class].enter[class][class]::view-transition-old(*),.t1c0w1r6[class][class].enter[class][class]::view-transition-new(*){--view-transition_duration:400ms;}

.t1c0w1r6[class][class].enter[class][class] .view-transition-group[view-transition-group](*),
.t1c0w1r6[class][class].enter[class][class] .view-transition-old[view-transition-old](*),
.t1c0w1r6[class][class].enter[class][class] .view-transition-new[view-transition-new](*){--view-transition_duration:400ms;}

.t1c0w1r6[class][class].exit[class][class]::view-transition-group(*),.t1c0w1r6[class][class].exit[class][class]::view-transition-old(*),.t1c0w1r6[class][class].exit[class][class]::view-transition-new(*){--view-transition_duration:300ms;}

.t1c0w1r6[class][class].exit[class][class] .view-transition-group[view-transition-group](*),
.t1c0w1r6[class][class].exit[class][class] .view-transition-old[view-transition-old](*),
.t1c0w1r6[class][class].exit[class][class] .view-transition-new[view-transition-new](*){--view-transition_duration:300ms;}

.t1c0w1r6[class][class]::view-transition-old(*),.t1c0w1r6[class][class]::view-transition-new(*){mix-blend-mode:normal;}

.t1c0w1r6[class][class] .view-transition-old[view-transition-old](*),
.t1c0w1r6[class][class] .view-transition-new[view-transition-new](*){mix-blend-mode:normal;}

.t1c0w1r6[class][class]::view-transition-old(root){display:none;}

.t1c0w1r6[class][class] .view-transition-old[view-transition-old="root"]{display:none;}

.t1c0w1r6[class][class]::view-transition-new(root){opacity:1;}

.dir.t1c0w1r6[class][class]::view-transition-new(root){animation:none;}

.t1c0w1r6[class][class] .view-transition-new[view-transition-new="root"]{opacity:1;}

.dir.t1c0w1r6[class][class] .view-transition-new[view-transition-new="root"]{animation:none;}

.t1c0w1r6[class][class]::view-transition-group(root){z-index:0;}

.t1c0w1r6[class][class] .view-transition-group[view-transition-group="root"]{z-index:0;}

.t1c0w1r6[class][class]::view-transition-group(search-input-tab-group),.t1c0w1r6[class][class]::view-transition-group(search-input),.t1c0w1r6[class][class]::view-transition-group(search-input-detail-panel-destination),.t1c0w1r6[class][class]::view-transition-group(search-input-detail-panel-dates),.t1c0w1r6[class][class]::view-transition-group(search-input-detail-panel-guests),.t1c0w1r6[class][class]::view-transition-group(search-input-detail-panel){z-index:4;}

.t1c0w1r6[class][class] .view-transition-group[view-transition-group="search-input-tab-group"],
.t1c0w1r6[class][class] .view-transition-group[view-transition-group="search-input"],
.t1c0w1r6[class][class] .view-transition-group[view-transition-group="search-input-detail-panel-destination"],
.t1c0w1r6[class][class] .view-transition-group[view-transition-group="search-input-detail-panel-dates"],
.t1c0w1r6[class][class] .view-transition-group[view-transition-group="search-input-detail-panel-guests"],
.t1c0w1r6[class][class] .view-transition-group[view-transition-group="search-input-detail-panel"]{z-index:4;}

.t1c0w1r6[class][class]::view-transition-group(search-input-header),.t1c0w1r6[class][class]::view-transition-group(search-input-content-little),.t1c0w1r6[class][class]::view-transition-group(search-input-content-big){z-index:5;}

.t1c0w1r6[class][class] .view-transition-group[view-transition-group="search-input-header"],
.t1c0w1r6[class][class] .view-transition-group[view-transition-group="search-input-content-little"],
.t1c0w1r6[class][class] .view-transition-group[view-transition-group="search-input-content-big"]{z-index:5;}

.t1c0w1r6[class][class]::view-transition-old(search-input-header){display:none;}

.t1c0w1r6[class][class] .view-transition-old[view-transition-old="search-input-header"]{display:none;}

.t1c0w1r6[class][class]::view-transition-new(search-input-header){opacity:1;}

.dir.t1c0w1r6[class][class]::view-transition-new(search-input-header){animation:none;}

.t1c0w1r6[class][class] .view-transition-new[view-transition-new="search-input-header"]{opacity:1;}

.dir.t1c0w1r6[class][class] .view-transition-new[view-transition-new="search-input-header"]{animation:none;}

.t1c0w1r6[class][class]::view-transition-old(search-input),.t1c0w1r6[class][class]::view-transition-new(search-input){height:100%;}

.t1c0w1r6[class][class] .view-transition-old[view-transition-old="search-input"],
.t1c0w1r6[class][class] .view-transition-new[view-transition-new="search-input"]{height:100%;}

.dir.t1c0w1r6[class][class].enter[class][class]::view-transition-old(search-input-content-little),.dir.t1c0w1r6[class][class].exit[class][class]::view-transition-old(search-input-content-big){animation-duration:75ms;animation-timing-function:cubic-bezier(0,0,1,1);}

.dir.t1c0w1r6[class][class].enter[class][class] .view-transition-old[view-transition-old="search-input-content-little"],
.dir.t1c0w1r6[class][class].exit[class][class] .view-transition-old[view-transition-old="search-input-content-big"]{animation-duration:75ms;animation-timing-function:cubic-bezier(0,0,1,1);}

.dir.t1c0w1r6[class][class].exit[class][class]::view-transition-new(search-input-content-little),.dir.t1c0w1r6[class][class].enter[class][class]::view-transition-new(search-input-content-big){animation-delay:75ms;animation-duration:150ms;animation-timing-function:cubic-bezier(0,0,1,1);}

.dir.t1c0w1r6[class][class].exit[class][class] .view-transition-new[view-transition-new="search-input-content-little"],
.dir.t1c0w1r6[class][class].enter[class][class] .view-transition-new[view-transition-new="search-input-content-big"]{animation-delay:75ms;animation-duration:150ms;animation-timing-function:cubic-bezier(0,0,1,1);}

.t1c0w1r6[class][class].enter[class][class]::view-transition-new(search-input-detail-panel-destination),.t1c0w1r6[class][class].enter[class][class]::view-transition-new(search-input-detail-panel-dates),.t1c0w1r6[class][class].enter[class][class]::view-transition-new(search-input-detail-panel-guests),.t1c0w1r6[class][class].enter[class][class]::view-transition-new(search-input-detail-panel){--view-transition_mix-blend-mode:normal;--view-transition-fade-effect_opacity-from:1;--view-transition-relative-move-effect_from-x:0;--view-transition-relative-move-effect_from-y:-92px;--view-transition-relative-move-effect_to-x:0;--view-transition-relative-move-effect_to-y:0;--view-transition-relative-move-effect_scale-from:0.6;--view-transition-relative-move-effect_scale-to:1;animation:var(--reduced-motion_duration,var(--view-transition-relative-move-effect_duration,var(--view-transition_duration,200ms))) var(--view-transition-relative-move-effect_timing-function,var(--view-transition_timing-function,var(--itr-yy-z))) var(--view-transition-relative-move-effect_delay,var(--view-transition_delay,0ms)) 1 normal var(--view-transition_fill-mode,both) var(--view-transition_play-state,paused) relative-move-t1c0w1r6;--view-transition_mix-blend-mode:plus-lighter;opacity:var(--view-transition-fade-effect_opacity-from);--view-transition-fade-effect_opacity-from:0;--view-transition-fade-effect_opacity-to:1;--view-transition-fade-effect_duration:75ms;--view-transition-fade-effect_transition_timing-function:cubic-bezier(0,0,1,1);--view-transition-fade-effect_delay:100ms;animation:var(--reduced-motion_duration,var(--view-transition-fade-effect_duration,var(--view-transition_duration,200ms))) var(--view-transition-fade-effect_timing-function,var(--view-transition_timing-function,linear)) var(--view-transition-fade-effect_delay,var(--view-transition_delay,0ms)) 1 normal var(--view-transition_fill-mode,both) var(--view-transition_play-state,paused) fade-t1c0w1r6;}

.dir.t1c0w1r6[class][class].enter[class][class]::view-transition-new(search-input-detail-panel-destination),.dir.t1c0w1r6[class][class].enter[class][class]::view-transition-new(search-input-detail-panel-dates),.dir.t1c0w1r6[class][class].enter[class][class]::view-transition-new(search-input-detail-panel-guests),.dir.t1c0w1r6[class][class].enter[class][class]::view-transition-new(search-input-detail-panel){transform-origin:top center;animation:var(--reduced-motion_duration,var(--view-transition-relative-move-effect_duration,var(--view-transition_duration,200ms))) var(--view-transition-relative-move-effect_timing-function,var(--view-transition_timing-function,var(--itr-yy-z))) var(--view-transition-relative-move-effect_delay,var(--view-transition_delay,0ms)) 1 normal var(--view-transition_fill-mode,both) var(--view-transition_play-state,paused) relative-move-t1c0w1r6,var(--reduced-motion_duration,var(--view-transition-fade-effect_duration,var(--view-transition_duration,200ms))) var(--view-transition-fade-effect_timing-function,var(--view-transition_timing-function,linear)) var(--view-transition-fade-effect_delay,var(--view-transition_delay,0ms)) 1 normal var(--view-transition_fill-mode,both) var(--view-transition_play-state,paused) fade-t1c0w1r6;}

.t1c0w1r6[class][class].enter[class][class] .view-transition-new[view-transition-new="search-input-detail-panel-destination"],
.t1c0w1r6[class][class].enter[class][class] .view-transition-new[view-transition-new="search-input-detail-panel-dates"],
.t1c0w1r6[class][class].enter[class][class] .view-transition-new[view-transition-new="search-input-detail-panel-guests"],
.t1c0w1r6[class][class].enter[class][class] .view-transition-new[view-transition-new="search-input-detail-panel"]{--view-transition_mix-blend-mode:normal;--view-transition-fade-effect_opacity-from:1;--view-transition-relative-move-effect_from-x:0;--view-transition-relative-move-effect_from-y:-92px;--view-transition-relative-move-effect_to-x:0;--view-transition-relative-move-effect_to-y:0;--view-transition-relative-move-effect_scale-from:0.6;--view-transition-relative-move-effect_scale-to:1;animation:var(--reduced-motion_duration,var(--view-transition-relative-move-effect_duration,var(--view-transition_duration,200ms))) var(--view-transition-relative-move-effect_timing-function,var(--view-transition_timing-function,var(--itr-yy-z))) var(--view-transition-relative-move-effect_delay,var(--view-transition_delay,0ms)) 1 normal var(--view-transition_fill-mode,both) var(--view-transition_play-state,paused) relative-move-t1c0w1r6;--view-transition_mix-blend-mode:plus-lighter;opacity:var(--view-transition-fade-effect_opacity-from);--view-transition-fade-effect_opacity-from:0;--view-transition-fade-effect_opacity-to:1;--view-transition-fade-effect_duration:75ms;--view-transition-fade-effect_transition_timing-function:cubic-bezier(0,0,1,1);--view-transition-fade-effect_delay:100ms;animation:var(--reduced-motion_duration,var(--view-transition-fade-effect_duration,var(--view-transition_duration,200ms))) var(--view-transition-fade-effect_timing-function,var(--view-transition_timing-function,linear)) var(--view-transition-fade-effect_delay,var(--view-transition_delay,0ms)) 1 normal var(--view-transition_fill-mode,both) var(--view-transition_play-state,paused) fade-t1c0w1r6;}

.dir.t1c0w1r6[class][class].enter[class][class] .view-transition-new[view-transition-new="search-input-detail-panel-destination"],
.dir.t1c0w1r6[class][class].enter[class][class] .view-transition-new[view-transition-new="search-input-detail-panel-dates"],
.dir.t1c0w1r6[class][class].enter[class][class] .view-transition-new[view-transition-new="search-input-detail-panel-guests"],
.dir.t1c0w1r6[class][class].enter[class][class] .view-transition-new[view-transition-new="search-input-detail-panel"]{transform-origin:top center;animation:var(--reduced-motion_duration,var(--view-transition-relative-move-effect_duration,var(--view-transition_duration,200ms))) var(--view-transition-relative-move-effect_timing-function,var(--view-transition_timing-function,var(--itr-yy-z))) var(--view-transition-relative-move-effect_delay,var(--view-transition_delay,0ms)) 1 normal var(--view-transition_fill-mode,both) var(--view-transition_play-state,paused) relative-move-t1c0w1r6,var(--reduced-motion_duration,var(--view-transition-fade-effect_duration,var(--view-transition_duration,200ms))) var(--view-transition-fade-effect_timing-function,var(--view-transition_timing-function,linear)) var(--view-transition-fade-effect_delay,var(--view-transition_delay,0ms)) 1 normal var(--view-transition_fill-mode,both) var(--view-transition_play-state,paused) fade-t1c0w1r6;}

@keyframes relative-move-t1c0w1r6{
from{filter:var(--view-transition_from-filter);visibility:visible;transform:translate( var(--view-transition-relative-move-effect_from-x,0),var(--view-transition-relative-move-effect_from-y,0) );scale:var(--view-transition-relative-move-effect_scale-from,1);}

to{filter:var(--view-transition_to-filter);transform:translate( var(--view-transition-relative-move-effect_to-x,0),var(--view-transition-relative-move-effect_to-y,0) );scale:var(--view-transition-relative-move-effect_scale-to,1);}}

@keyframes fade-t1c0w1r6{
from{opacity:var(--view-transition-fade-effect_opacity-from,0);visibility:visible;}

to{opacity:var(--view-transition-fade-effect_opacity-to,1);}}

.t1c0w1r6[class][class].exit[class][class]::view-transition-old(search-input-detail-panel-destination),.t1c0w1r6[class][class].exit[class][class]::view-transition-old(search-input-detail-panel-dates),.t1c0w1r6[class][class].exit[class][class]::view-transition-old(search-input-detail-panel-guests),.t1c0w1r6[class][class].exit[class][class]::view-transition-old(search-input-detail-panel){--view-transition_mix-blend-mode:normal;--view-transition-fade-effect_opacity-from:1;--view-transition-relative-move-effect_from-x:0;--view-transition-relative-move-effect_from-y:0;--view-transition-relative-move-effect_to-x:0;--view-transition-relative-move-effect_to-y:-92px;--view-transition-relative-move-effect_scale-from:1;--view-transition-relative-move-effect_scale-to:0.8;animation:var(--reduced-motion_duration,var(--view-transition-relative-move-effect_duration,var(--view-transition_duration,200ms))) var(--view-transition-relative-move-effect_timing-function,var(--view-transition_timing-function,var(--itr-yy-z))) var(--view-transition-relative-move-effect_delay,var(--view-transition_delay,0ms)) 1 normal var(--view-transition_fill-mode,both) var(--view-transition_play-state,paused) relative-move-t1c0w1r6;--view-transition_mix-blend-mode:plus-lighter;opacity:var(--view-transition-fade-effect_opacity-from);--view-transition-fade-effect_opacity-from:1;--view-transition-fade-effect_opacity-to:0;--view-transition-fade-effect_duration:75ms;--view-transition-fade-effect_transition_timing-function:cubic-bezier(0,0,1,1);animation:var(--reduced-motion_duration,var(--view-transition-fade-effect_duration,var(--view-transition_duration,200ms))) var(--view-transition-fade-effect_timing-function,var(--view-transition_timing-function,linear)) var(--view-transition-fade-effect_delay,var(--view-transition_delay,0ms)) 1 normal var(--view-transition_fill-mode,both) var(--view-transition_play-state,paused) fade-t1c0w1r6;}

.dir.t1c0w1r6[class][class].exit[class][class]::view-transition-old(search-input-detail-panel-destination),.dir.t1c0w1r6[class][class].exit[class][class]::view-transition-old(search-input-detail-panel-dates),.dir.t1c0w1r6[class][class].exit[class][class]::view-transition-old(search-input-detail-panel-guests),.dir.t1c0w1r6[class][class].exit[class][class]::view-transition-old(search-input-detail-panel){transform-origin:top center;animation:var(--reduced-motion_duration,var(--view-transition-relative-move-effect_duration,var(--view-transition_duration,200ms))) var(--view-transition-relative-move-effect_timing-function,var(--view-transition_timing-function,var(--itr-yy-z))) var(--view-transition-relative-move-effect_delay,var(--view-transition_delay,0ms)) 1 normal var(--view-transition_fill-mode,both) var(--view-transition_play-state,paused) relative-move-t1c0w1r6,var(--reduced-motion_duration,var(--view-transition-fade-effect_duration,var(--view-transition_duration,200ms))) var(--view-transition-fade-effect_timing-function,var(--view-transition_timing-function,linear)) var(--view-transition-fade-effect_delay,var(--view-transition_delay,0ms)) 1 normal var(--view-transition_fill-mode,both) var(--view-transition_play-state,paused) fade-t1c0w1r6;}

.t1c0w1r6[class][class].exit[class][class] .view-transition-old[view-transition-old="search-input-detail-panel-destination"],
.t1c0w1r6[class][class].exit[class][class] .view-transition-old[view-transition-old="search-input-detail-panel-dates"],
.t1c0w1r6[class][class].exit[class][class] .view-transition-old[view-transition-old="search-input-detail-panel-guests"],
.t1c0w1r6[class][class].exit[class][class] .view-transition-old[view-transition-old="search-input-detail-panel"]{--view-transition_mix-blend-mode:normal;--view-transition-fade-effect_opacity-from:1;--view-transition-relative-move-effect_from-x:0;--view-transition-relative-move-effect_from-y:0;--view-transition-relative-move-effect_to-x:0;--view-transition-relative-move-effect_to-y:-92px;--view-transition-relative-move-effect_scale-from:1;--view-transition-relative-move-effect_scale-to:0.8;animation:var(--reduced-motion_duration,var(--view-transition-relative-move-effect_duration,var(--view-transition_duration,200ms))) var(--view-transition-relative-move-effect_timing-function,var(--view-transition_timing-function,var(--itr-yy-z))) var(--view-transition-relative-move-effect_delay,var(--view-transition_delay,0ms)) 1 normal var(--view-transition_fill-mode,both) var(--view-transition_play-state,paused) relative-move-t1c0w1r6;--view-transition_mix-blend-mode:plus-lighter;opacity:var(--view-transition-fade-effect_opacity-from);--view-transition-fade-effect_opacity-from:1;--view-transition-fade-effect_opacity-to:0;--view-transition-fade-effect_duration:75ms;--view-transition-fade-effect_transition_timing-function:cubic-bezier(0,0,1,1);animation:var(--reduced-motion_duration,var(--view-transition-fade-effect_duration,var(--view-transition_duration,200ms))) var(--view-transition-fade-effect_timing-function,var(--view-transition_timing-function,linear)) var(--view-transition-fade-effect_delay,var(--view-transition_delay,0ms)) 1 normal var(--view-transition_fill-mode,both) var(--view-transition_play-state,paused) fade-t1c0w1r6;}

.dir.t1c0w1r6[class][class].exit[class][class] .view-transition-old[view-transition-old="search-input-detail-panel-destination"],
.dir.t1c0w1r6[class][class].exit[class][class] .view-transition-old[view-transition-old="search-input-detail-panel-dates"],
.dir.t1c0w1r6[class][class].exit[class][class] .view-transition-old[view-transition-old="search-input-detail-panel-guests"],
.dir.t1c0w1r6[class][class].exit[class][class] .view-transition-old[view-transition-old="search-input-detail-panel"]{transform-origin:top center;animation:var(--reduced-motion_duration,var(--view-transition-relative-move-effect_duration,var(--view-transition_duration,200ms))) var(--view-transition-relative-move-effect_timing-function,var(--view-transition_timing-function,var(--itr-yy-z))) var(--view-transition-relative-move-effect_delay,var(--view-transition_delay,0ms)) 1 normal var(--view-transition_fill-mode,both) var(--view-transition_play-state,paused) relative-move-t1c0w1r6,var(--reduced-motion_duration,var(--view-transition-fade-effect_duration,var(--view-transition_duration,200ms))) var(--view-transition-fade-effect_timing-function,var(--view-transition_timing-function,linear)) var(--view-transition-fade-effect_delay,var(--view-transition_delay,0ms)) 1 normal var(--view-transition_fill-mode,both) var(--view-transition_play-state,paused) fade-t1c0w1r6;}

@keyframes relative-move-t1c0w1r6{
from{filter:var(--view-transition_from-filter);visibility:visible;transform:translate( var(--view-transition-relative-move-effect_from-x,0),var(--view-transition-relative-move-effect_from-y,0) );scale:var(--view-transition-relative-move-effect_scale-from,1);}

to{filter:var(--view-transition_to-filter);transform:translate( var(--view-transition-relative-move-effect_to-x,0),var(--view-transition-relative-move-effect_to-y,0) );scale:var(--view-transition-relative-move-effect_scale-to,1);}}

@keyframes fade-t1c0w1r6{
from{opacity:var(--view-transition-fade-effect_opacity-from,0);visibility:visible;}

to{opacity:var(--view-transition-fade-effect_opacity-to,1);}}

.t1c0w1r6[class][class].enter[class][class]::view-transition-old(search-input-detail-panel),.t1c0w1r6[class][class].exit[class][class]::view-transition-new(search-input-detail-panel){display:none;}

.t1c0w1r6[class][class].enter[class][class] .view-transition-old[view-transition-old="search-input-detail-panel"],
.t1c0w1r6[class][class].exit[class][class] .view-transition-new[view-transition-new="search-input-detail-panel"]{display:none;}

.t1c0w1r6[class][class].enter[class][class]::view-transition-old(search-input-tab-group){display:none;}

.t1c0w1r6[class][class].enter[class][class] .view-transition-old[view-transition-old="search-input-tab-group"]{display:none;}

.t1c0w1r6[class][class].enter[class][class]::view-transition-new(search-input-tab-group){--view-transition_mix-blend-mode:plus-lighter;opacity:var(--view-transition-fade-effect_opacity-from);--view-transition-fade-effect_opacity-from:0;--view-transition-fade-effect_opacity-to:1;--view-transition-fade-effect_duration:300ms;--view-transition-fade-effect_transition_timing-function:cubic-bezier(0,0,1,1);--view-transition-fade-effect_delay:100ms;animation:var(--reduced-motion_duration,var(--view-transition-fade-effect_duration,var(--view-transition_duration,200ms))) var(--view-transition-fade-effect_timing-function,var(--view-transition_timing-function,linear)) var(--view-transition-fade-effect_delay,var(--view-transition_delay,0ms)) 1 normal var(--view-transition_fill-mode,both) var(--view-transition_play-state,paused) fade-t1c0w1r6;}

.dir.t1c0w1r6[class][class].enter[class][class]::view-transition-new(search-input-tab-group){animation:var(--reduced-motion_duration,var(--view-transition-fade-effect_duration,var(--view-transition_duration,200ms))) var(--view-transition-fade-effect_timing-function,var(--view-transition_timing-function,linear)) var(--view-transition-fade-effect_delay,var(--view-transition_delay,0ms)) 1 normal var(--view-transition_fill-mode,both) var(--view-transition_play-state,paused) fade-t1c0w1r6;animation-duration:150ms;}

.t1c0w1r6[class][class].enter[class][class] .view-transition-new[view-transition-new="search-input-tab-group"]{--view-transition_mix-blend-mode:plus-lighter;opacity:var(--view-transition-fade-effect_opacity-from);--view-transition-fade-effect_opacity-from:0;--view-transition-fade-effect_opacity-to:1;--view-transition-fade-effect_duration:300ms;--view-transition-fade-effect_transition_timing-function:cubic-bezier(0,0,1,1);--view-transition-fade-effect_delay:100ms;animation:var(--reduced-motion_duration,var(--view-transition-fade-effect_duration,var(--view-transition_duration,200ms))) var(--view-transition-fade-effect_timing-function,var(--view-transition_timing-function,linear)) var(--view-transition-fade-effect_delay,var(--view-transition_delay,0ms)) 1 normal var(--view-transition_fill-mode,both) var(--view-transition_play-state,paused) fade-t1c0w1r6;}

.dir.t1c0w1r6[class][class].enter[class][class] .view-transition-new[view-transition-new="search-input-tab-group"]{animation:var(--reduced-motion_duration,var(--view-transition-fade-effect_duration,var(--view-transition_duration,200ms))) var(--view-transition-fade-effect_timing-function,var(--view-transition_timing-function,linear)) var(--view-transition-fade-effect_delay,var(--view-transition_delay,0ms)) 1 normal var(--view-transition_fill-mode,both) var(--view-transition_play-state,paused) fade-t1c0w1r6;animation-duration:150ms;}

@keyframes fade-t1c0w1r6{
from{opacity:var(--view-transition-fade-effect_opacity-from,0);visibility:visible;}

to{opacity:var(--view-transition-fade-effect_opacity-to,1);}}

.t1c0w1r6[class][class].exit[class][class]::view-transition-old(search-input-tab-group){--view-transition_mix-blend-mode:plus-lighter;opacity:var(--view-transition-fade-effect_opacity-from);--view-transition-fade-effect_opacity-from:1;--view-transition-fade-effect_opacity-to:0;--view-transition-fade-effect_duration:75ms;--view-transition-fade-effect_transition_timing-function:cubic-bezier(0.4,0,1,1);animation:var(--reduced-motion_duration,var(--view-transition-fade-effect_duration,var(--view-transition_duration,200ms))) var(--view-transition-fade-effect_timing-function,var(--view-transition_timing-function,linear)) var(--view-transition-fade-effect_delay,var(--view-transition_delay,0ms)) 1 normal var(--view-transition_fill-mode,both) var(--view-transition_play-state,paused) fade-t1c0w1r6;}

.dir.t1c0w1r6[class][class].exit[class][class]::view-transition-old(search-input-tab-group){animation:var(--reduced-motion_duration,var(--view-transition-fade-effect_duration,var(--view-transition_duration,200ms))) var(--view-transition-fade-effect_timing-function,var(--view-transition_timing-function,linear)) var(--view-transition-fade-effect_delay,var(--view-transition_delay,0ms)) 1 normal var(--view-transition_fill-mode,both) var(--view-transition_play-state,paused) fade-t1c0w1r6;}

.t1c0w1r6[class][class].exit[class][class] .view-transition-old[view-transition-old="search-input-tab-group"]{--view-transition_mix-blend-mode:plus-lighter;opacity:var(--view-transition-fade-effect_opacity-from);--view-transition-fade-effect_opacity-from:1;--view-transition-fade-effect_opacity-to:0;--view-transition-fade-effect_duration:75ms;--view-transition-fade-effect_transition_timing-function:cubic-bezier(0.4,0,1,1);animation:var(--reduced-motion_duration,var(--view-transition-fade-effect_duration,var(--view-transition_duration,200ms))) var(--view-transition-fade-effect_timing-function,var(--view-transition_timing-function,linear)) var(--view-transition-fade-effect_delay,var(--view-transition_delay,0ms)) 1 normal var(--view-transition_fill-mode,both) var(--view-transition_play-state,paused) fade-t1c0w1r6;}

.dir.t1c0w1r6[class][class].exit[class][class] .view-transition-old[view-transition-old="search-input-tab-group"]{animation:var(--reduced-motion_duration,var(--view-transition-fade-effect_duration,var(--view-transition_duration,200ms))) var(--view-transition-fade-effect_timing-function,var(--view-transition_timing-function,linear)) var(--view-transition-fade-effect_delay,var(--view-transition_delay,0ms)) 1 normal var(--view-transition_fill-mode,both) var(--view-transition_play-state,paused) fade-t1c0w1r6;}

@keyframes fade-t1c0w1r6{
from{opacity:var(--view-transition-fade-effect_opacity-from,0);visibility:visible;}

to{opacity:var(--view-transition-fade-effect_opacity-to,1);}}

.t1c0w1r6[class][class].exit[class][class]::view-transition-new(search-input-tab-group){display:none;}

.t1c0w1r6[class][class].exit[class][class] .view-transition-new[view-transition-new="search-input-tab-group"]{display:none;}
