.o1lf0g29[class][class]{z-index:2000;position:fixed;top:0;bottom:0;overflow-y:auto;-webkit-overflow-scrolling:touch;background:transparent;opacity:0.6;}

.dir.o1lf0g29[class][class]{right:0;left:0;background:var(--f-k-smk-x);}

@media (min-width:744px){
.dir.o1lf0g29[class][class]{background:rgba(0,0,0,0.75);}}

@media (min-width:744px){
.dir.o1lf0g29[class][class]{background:var(--f-k-smk-x);}}



.cql6vr3[class][class]{z-index:2000;position:fixed;top:0;bottom:0;max-height:calc(var(--vh,1vh) * 100);display:flex;flex-direction:row;align-items:flex-end;justify-content:center;}

.dir.cql6vr3[class][class]{right:0;left:0;padding:var(--b-y-unon) 0 0 0;}

@supports (max-height:-webkit-fill-available){
.cql6vr3[class][class]{max-height:max(-webkit-fill-available,calc(var(--vh,1vh) * 100));}}

@media (min-width:744px) and (min-height:475px){
.cql6vr3[class][class]{align-items:center;}

.dir.cql6vr3[class][class]{padding:40px;}}

.dr534xq[class][class]{background:white;overflow:clip;position:relative;width:100vw;max-width:100vw;max-height:100%;display:flex;flex-direction:column;}

.dir.dr534xq[class][class]{background:var(--f-mkcy-f);box-shadow:var(--jx-b-v-zt);border-top-left-radius:var(--i-g-gvoq);border-top-right-radius:var(--i-g-gvoq);}

@supports not (overflow:clip){
.dr534xq[class][class]{overflow:hidden;}}

.dr534xq[class][class]:focus{outline:none;}

@media (min-width:744px){
.dr534xq[class][class]{width:100%;max-width:568px;}

.dir.dr534xq[class][class]{border-radius:var(--i-g-gvoq);}}

@media (min-width:744px){
.dr534xq[class][class]{max-width:780px;}}



.t1wdaysg[class][class]{position:absolute;display:flex;justify-content:center;width:100%;z-index:2000;top:var(--ic-zlb-s);}

.dir.t1wdaysg[class][class]{padding-left:var(--ikx-k-pe);padding-right:var(--ikx-k-pe);}

@media (min-width:375px){
.dir.t1wdaysg[class][class]{padding-left:var(--ikx-k-pe);padding-right:var(--ikx-k-pe);}}

@media (min-width:744px){
.t1wdaysg[class][class]{display:block;width:auto;}

.dir.t1wdaysg[class][class]{padding-left:0;padding-right:0;}}

@media (min-width:375px){
.t1wdaysg[class][class]{top:var(--ic-zlb-s);}}

@media (min-width:744px){
.t1wdaysg[class][class]{top:var(--f-fw-z-a-i);}

.dir-ltr.t1wdaysg[class][class]{left:var(--f-fw-z-a-i);}

.dir-rtl.t1wdaysg[class][class]{right:var(--f-fw-z-a-i);}}

@media (min-width:950px){
.t1wdaysg[class][class]{top:var(--f-fw-z-a-i);}

.dir-ltr.t1wdaysg[class][class]{left:var(--f-fw-z-a-i);}

.dir-rtl.t1wdaysg[class][class]{right:var(--f-fw-z-a-i);}}

@media (min-width:1128px){
.t1wdaysg[class][class]{top:var(--cy-o-aco);}

.dir-ltr.t1wdaysg[class][class]{left:var(--cy-o-aco);}

.dir-rtl.t1wdaysg[class][class]{right:var(--cy-o-aco);}}

@media (min-width:1440px){
.t1wdaysg[class][class]{top:var(--cy-o-aco);}

.dir-ltr.t1wdaysg[class][class]{left:var(--cy-o-aco);}

.dir-rtl.t1wdaysg[class][class]{right:var(--cy-o-aco);}}

.t1wwsvpr[class][class]{position:fixed;}
.u1l1c0e2[class][class]{--gp-placement-max-height:100vh;display:contents;}
.o1qg3qz0[class][class]{z-index:2000;position:fixed;top:0;bottom:0;overflow-y:auto;-webkit-overflow-scrolling:touch;background:transparent;}

.dir.o1qg3qz0[class][class]{right:0;left:0;background:var(--f-k-smk-x);animation-duration:400ms;animation-iteration-count:1;animation-fill-mode:both;animation-name:overlayEnter-o1qg3qz0;}

@media (min-width:744px){
.dir.o1qg3qz0[class][class]{background:rgba(0,0,0,0.75);}}

@media (min-width:744px){
.dir.o1qg3qz0[class][class]{background:transparent;}}

@keyframes overlayEnter-o1qg3qz0{
0%{opacity:0;}

100%{opacity:0.6;}}

.dir.oy2bsql[class][class]{animation-name:overlayLeave-oy2bsql;}

@keyframes overlayLeave-oy2bsql{
0%{opacity:0.6;}

100%{opacity:0;}}
.cl6uix4[class][class]{position:absolute;display:flex;top:16px;z-index:1;top:24px;}

.dir-ltr.cl6uix4[class][class]{left:24px;left:24px;}

.dir-rtl.cl6uix4[class][class]{right:24px;right:24px;}

@media (min-width:744px){
.cl6uix4[class][class]{top:24px;}}
.c3jc6p1[class][class]{z-index:2000;position:fixed;top:0;bottom:0;max-height:calc(var(--vh,1vh) * 100);display:flex;flex-direction:row;align-items:center;justify-content:center;}

.dir.c3jc6p1[class][class]{right:0;left:0;padding:var(--b-y-unon);}

@supports (max-height:-webkit-fill-available){
.c3jc6p1[class][class]{max-height:max(-webkit-fill-available,calc(var(--vh,1vh) * 100));}}

@media screen and (-ms-high-contrast:active),screen and (-ms-high-contrast:none){
.c3jc6p1[class][class]{align-items:stretch;}}

@media (min-height:600px){
.dir.c3jc6p1[class][class]{padding-top:96px;padding-bottom:96px;}}

.dejm65x[class][class]{background:white;overflow:clip;width:400px;max-width:100%;max-height:100%;display:flex;flex-direction:column;overflow:hidden;}

.dir.dejm65x[class][class]{animation-duration:400ms;animation-iteration-count:1;animation-fill-mode:both;background:var(--f-mkcy-f);border-radius:var(--i-g-gvoq);box-shadow:var(--jx-b-v-zt);}

@supports not (overflow:clip){
.dejm65x[class][class]{overflow:hidden;}}

.dejm65x[class][class]:focus{outline:none;}

.dir.d1gjdxi4[class][class]{animation-name:growEnter-d1gjdxi4;}

@keyframes growEnter-d1gjdxi4{
0%{opacity:0;transform:scale(0.05);}

100%{opacity:1;transform:scale(1);}}

@media (prefers-reduced-motion:reduce){
.dir.d1gjdxi4[class][class]{animation-name:fadeEnter-d1gjdxi4;}

@keyframes fadeEnter-d1gjdxi4{
0%{opacity:0;}

100%{opacity:1;}}}

.dir.d8ucitj[class][class]{animation-name:growLeave-d8ucitj;}

@keyframes growLeave-d8ucitj{
0%{opacity:1;transform:scale(1);}

100%{opacity:0;transform:scale(0.05);}}

@media (prefers-reduced-motion:reduce){
.dir.d8ucitj[class][class]{animation-name:fadeLeave-d8ucitj;}

@keyframes fadeLeave-d8ucitj{
0%{opacity:1;}

100%{opacity:0;}}}
.c1pf0cm0[class][class]{height:100%;overflow:hidden;position:relative;width:100%;will-change:transform;}

.dir.c1pf0cm0[class][class]{border-radius:var(--dls-base-video-border-radius,0);}

.v6iu1id[class][class]{display:block;height:100%;width:100%;}

.v6iu1id[class][class]::-webkit-media-text-track-display{top:77.5%;}
.cm8f9sw[class][class]{z-index:2000;position:fixed;top:0;bottom:0;max-height:calc(var(--vh,1vh) * 100);display:flex;flex-direction:row;align-items:flex-end;justify-content:center;}

.dir.cm8f9sw[class][class]{right:0;left:0;padding-top:calc(var(--b-y-unon) + env(safe-area-inset-top,0));}

@supports (max-height:-webkit-fill-available){
.cm8f9sw[class][class]{max-height:max(-webkit-fill-available,calc(var(--vh,1vh) * 100));}}

@media (min-width:744px) and (min-height:475px){
.cm8f9sw[class][class]{align-items:center;}

.dir.cm8f9sw[class][class]{padding:40px;}}

@media screen and (-ms-high-contrast:active),screen and (-ms-high-contrast:none){
.cm8f9sw[class][class]{align-items:stretch;}}

.do7fkqy[class][class]{background:white;overflow:clip;position:relative;width:100vw;max-width:100vw;max-height:100%;display:flex;flex-direction:column;}

.dir.do7fkqy[class][class]{background:var(--f-mkcy-f);box-shadow:var(--jx-b-v-zt);border-top-left-radius:var(--i-g-gvoq);border-top-right-radius:var(--i-g-gvoq);animation-duration:400ms;animation-iteration-count:1;animation-fill-mode:both;animation-name:slideEnter-do7fkqy;}

@supports not (overflow:clip){
.do7fkqy[class][class]{overflow:hidden;}}

.do7fkqy[class][class]:focus{outline:none;}

@media (min-width:744px){
.do7fkqy[class][class]{width:100%;max-width:568px;}

.dir.do7fkqy[class][class]{border-radius:var(--i-g-gvoq);}}

@keyframes slideEnter-do7fkqy{
0%{opacity:0;transform:translate(0,100%);}

100%{opacity:1;transform:none;}}

@media (prefers-reduced-motion:reduce){
.dir.do7fkqy[class][class]{animation-name:fadeEnter-do7fkqy;}

@keyframes fadeEnter-do7fkqy{
0%{opacity:0;}

100%{opacity:1;}}}

@media (min-width:744px){
.do7fkqy[class][class]{max-width:376px;}}

.dir.d1h8a50a[class][class]{animation-name:slideLeave-d1h8a50a;}

@keyframes slideLeave-d1h8a50a{
0%{opacity:1;transform:none;}

100%{opacity:0;transform:translate(0,100%);}}

@media (prefers-reduced-motion:reduce){
.dir.d1h8a50a[class][class]{animation-name:fadeLeave-d1h8a50a;}

@keyframes fadeLeave-d1h8a50a{
0%{opacity:1;}

100%{opacity:0;}}}
.t1q7vp72[class][class]{position:absolute;display:flex;justify-content:center;width:100%;z-index:2000;top:var(--ic-zlb-s);}

.dir.t1q7vp72[class][class]{padding-left:var(--ikx-k-pe);padding-right:var(--ikx-k-pe);}

@media (min-width:375px){
.dir.t1q7vp72[class][class]{padding-left:var(--ikx-k-pe);padding-right:var(--ikx-k-pe);}}

@media (min-width:744px){
.t1q7vp72[class][class]{display:block;width:auto;}

.dir.t1q7vp72[class][class]{padding-left:0;padding-right:0;}}

@media (min-width:375px){
.t1q7vp72[class][class]{top:var(--ic-zlb-s);}}

@media (min-width:744px){
.t1q7vp72[class][class]{top:var(--f-fw-z-a-i);}

.dir-ltr.t1q7vp72[class][class]{right:var(--f-fw-z-a-i);}

.dir-rtl.t1q7vp72[class][class]{left:var(--f-fw-z-a-i);}}

@media (min-width:950px){
.t1q7vp72[class][class]{top:var(--f-fw-z-a-i);}

.dir-ltr.t1q7vp72[class][class]{right:var(--f-fw-z-a-i);}

.dir-rtl.t1q7vp72[class][class]{left:var(--f-fw-z-a-i);}}

@media (min-width:1128px){
.t1q7vp72[class][class]{top:var(--cy-o-aco);}

.dir-ltr.t1q7vp72[class][class]{right:var(--cy-o-aco);}

.dir-rtl.t1q7vp72[class][class]{left:var(--cy-o-aco);}}

@media (min-width:1440px){
.t1q7vp72[class][class]{top:var(--cy-o-aco);}

.dir-ltr.t1q7vp72[class][class]{right:var(--cy-o-aco);}

.dir-rtl.t1q7vp72[class][class]{left:var(--cy-o-aco);}}

.t15z869g[class][class]{position:fixed;}
.c1k13iig[class][class]{z-index:2000;position:fixed;top:0;bottom:0;max-height:calc(var(--vh,1vh) * 100);display:flex;flex-direction:row;align-items:flex-end;justify-content:center;}

.dir.c1k13iig[class][class]{right:0;left:0;padding-top:calc(var(--b-y-unon) + env(safe-area-inset-top,0));}

@supports (max-height:-webkit-fill-available){
.c1k13iig[class][class]{max-height:max(-webkit-fill-available,calc(var(--vh,1vh) * 100));}}

@media (min-width:744px) and (min-height:475px){
.c1k13iig[class][class]{align-items:center;}

.dir.c1k13iig[class][class]{padding:40px;}}

@media screen and (-ms-high-contrast:active),screen and (-ms-high-contrast:none){
.c1k13iig[class][class]{align-items:stretch;}}

.di536pa[class][class]{background:white;overflow:clip;position:relative;width:100vw;max-width:100vw;max-height:100%;display:flex;flex-direction:column;}

.dir.di536pa[class][class]{background:var(--f-mkcy-f);box-shadow:var(--jx-b-v-zt);border-top-left-radius:var(--i-g-gvoq);border-top-right-radius:var(--i-g-gvoq);animation-duration:400ms;animation-iteration-count:1;animation-fill-mode:both;animation-name:slideEnter-di536pa;}

@supports not (overflow:clip){
.di536pa[class][class]{overflow:hidden;}}

.di536pa[class][class]:focus{outline:none;}

@media (min-width:744px){
.di536pa[class][class]{width:100%;max-width:568px;}

.dir.di536pa[class][class]{border-radius:var(--i-g-gvoq);}}

@keyframes slideEnter-di536pa{
0%{opacity:0;transform:translate(0,100%);}

100%{opacity:1;transform:none;}}

@media (prefers-reduced-motion:reduce){
.dir.di536pa[class][class]{animation-name:fadeEnter-di536pa;}

@keyframes fadeEnter-di536pa{
0%{opacity:0;}

100%{opacity:1;}}}

@media (min-width:744px){
.di536pa[class][class]{max-width:1032px;}}

.dir.d1nfxl95[class][class]{animation-name:slideLeave-d1nfxl95;}

@keyframes slideLeave-d1nfxl95{
0%{opacity:1;transform:none;}

100%{opacity:0;transform:translate(0,100%);}}

@media (prefers-reduced-motion:reduce){
.dir.d1nfxl95[class][class]{animation-name:fadeLeave-d1nfxl95;}

@keyframes fadeLeave-d1nfxl95{
0%{opacity:1;}

100%{opacity:0;}}}
.c73b9wk[class][class]{z-index:2000;position:fixed;top:0;bottom:0;max-height:calc(var(--vh,1vh) * 100);display:flex;flex-direction:row;align-items:flex-end;justify-content:center;}

.dir.c73b9wk[class][class]{right:0;left:0;padding-top:calc(var(--b-y-unon) + env(safe-area-inset-top,0));}

@supports (max-height:-webkit-fill-available){
.c73b9wk[class][class]{max-height:max(-webkit-fill-available,calc(var(--vh,1vh) * 100));}}

@media (min-width:744px) and (min-height:475px){
.c73b9wk[class][class]{align-items:center;}

.dir.c73b9wk[class][class]{padding:40px;}}

@media screen and (-ms-high-contrast:active),screen and (-ms-high-contrast:none){
.c73b9wk[class][class]{align-items:stretch;}}

.d15huyez[class][class]{background:white;overflow:clip;position:relative;width:100vw;max-width:100vw;max-height:100%;display:flex;flex-direction:column;height:100%;}

.dir.d15huyez[class][class]{background:var(--f-mkcy-f);box-shadow:var(--jx-b-v-zt);border-top-left-radius:var(--i-g-gvoq);border-top-right-radius:var(--i-g-gvoq);animation-duration:400ms;animation-iteration-count:1;animation-fill-mode:both;animation-name:slideEnter-d15huyez;padding-bottom:env(safe-area-inset-bottom,0);}

@supports not (overflow:clip){
.d15huyez[class][class]{overflow:hidden;}}

.d15huyez[class][class]:focus{outline:none;}

@media (min-width:744px){
.d15huyez[class][class]{width:100%;max-width:568px;}

.dir.d15huyez[class][class]{border-radius:var(--i-g-gvoq);}}

@keyframes slideEnter-d15huyez{
0%{opacity:0;transform:translate(0,100%);}

100%{opacity:1;transform:none;}}

@media (prefers-reduced-motion:reduce){
.dir.d15huyez[class][class]{animation-name:fadeEnter-d15huyez;}

@keyframes fadeEnter-d15huyez{
0%{opacity:0;}

100%{opacity:1;}}}

.dir.dy5eype[class][class]{animation-name:slideLeave-dy5eype;}

@keyframes slideLeave-dy5eype{
0%{opacity:1;transform:none;}

100%{opacity:0;transform:translate(0,100%);}}

@media (prefers-reduced-motion:reduce){
.dir.dy5eype[class][class]{animation-name:fadeLeave-dy5eype;}

@keyframes fadeLeave-dy5eype{
0%{opacity:1;}

100%{opacity:0;}}}
.dir.d17h23sq[class][class]{transition-delay:var(--dls-poster-controller-transition-delay);}

.dir.dcs6172[class][class]{transition-duration:var(--dls-poster-controller-transition-duration);}

.cb70lks[class][class]{bottom:0;opacity:1;position:absolute;top:0;}

.dir.cb70lks[class][class]{left:0;right:0;transition-property:opacity;transition-timing-function:var(--f-w-xhiy);}

.cvt7ic8[class][class]{opacity:0;}

.c1birwnp[class][class]{display:none;}
.c1evy5ue[class][class]{-webkit-appearance:none;appearance:none;display:inline-block;border:0;outline:0;margin:-7px;padding:7px;color:buttontext;touch-action:manipulation;display:inline-block;position:relative;color:var(--f-k-smk-x);-webkit-transition:-webkit-transform 0.25s var(--itr-yy-z);outline:none;color:var(--f-mkcy-f);outline:none;}

.dir.c1evy5ue[class][class]{border-radius:50%;background-color:transparent;cursor:pointer;padding:0;margin:0;border:none;background:transparent;transition:transform 0.25s var(--itr-yy-z);}

.c1evy5ue[class][class]:focus-visible{outline:none;}

.dir.c1evy5ue[class][class]:focus-visible{transition:box-shadow 0.2s var(--itr-yy-z);box-shadow:0 0 0 1px rgba(0,0,0,0.5),0 0 0 5px rgba(255,255,255,0.7);}

.dir.c1evy5ue[class][class]:focus-visible::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c1evy5ue[class][class]:focus-visible:focus::-moz-focus-inner{border:none;}

.c1evy5ue[class][class]:focus-visible:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.c1evy5ue[class][class]:focus-visible{transition:none;}}

.c1evy5ue[class][class]:focus[data-focus-visible-added]{outline:none;}

.dir.c1evy5ue[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s var(--itr-yy-z);box-shadow:0 0 0 1px rgba(0,0,0,0.5),0 0 0 5px rgba(255,255,255,0.7);}

.dir.c1evy5ue[class][class]:focus[data-focus-visible-added]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c1evy5ue[class][class]:focus[data-focus-visible-added]:focus::-moz-focus-inner{border:none;}

.c1evy5ue[class][class]:focus[data-focus-visible-added]:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.c1evy5ue[class][class]:focus[data-focus-visible-added]{transition:none;}}

.c1evy5ue[class][class]:disabled{opacity:0.5;color:graytext;}

.dir.c1evy5ue[class][class]:disabled{cursor:not-allowed;}

@media (prefers-reduced-motion:reduce){
.dir.c1evy5ue[class][class]{transition:none;}}

@media (hover:hover){
.c1evy5ue[class][class]:hover{color:var(--bgxgx);}

.dir.c1evy5ue[class][class]:hover::before{background:var(---pc-g-v-g);}

.c1evy5ue[class][class]:hover:disabled{color:var(--j-qkgmf);}

.dir.c1evy5ue[class][class]:hover:disabled::before{background:transparent;}}

.c1evy5ue[class][class]:active{color:var(--bgxgx);}

.dir.c1evy5ue[class][class]:active{transform:scale(0.92);}

.dir.c1evy5ue[class][class]:active::before{background:var(---pc-g-v-g);}

.dir.c1evy5ue[class][class]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c1evy5ue[class][class]:focus::-moz-focus-inner{border:none;}

.c1evy5ue[class][class]:-moz-focusring{outline:none;}

.dir.c1evy5ue[class][class]:focus-visible{transition:box-shadow 0.2s var(--itr-yy-z);box-shadow:none;}

@media (prefers-reduced-motion:reduce){
.dir.c1evy5ue[class][class]:focus-visible{transition:none;}}

.dir.c1evy5ue[class][class]:focus-visible::before{box-shadow:0 0 0 2px var(--f-k-smk-x),0 0 0 4px rgba(255,255,255,0.8);background:var(---pc-g-v-g);}

.dir.c1evy5ue[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s var(--itr-yy-z);box-shadow:none;}

@media (prefers-reduced-motion:reduce){
.dir.c1evy5ue[class][class]:focus[data-focus-visible-added]{transition:none;}}

.dir.c1evy5ue[class][class]:focus[data-focus-visible-added]::before{box-shadow:0 0 0 2px var(--f-k-smk-x),0 0 0 4px rgba(255,255,255,0.8);background:var(---pc-g-v-g);}

.c1evy5ue[class][class]:disabled{color:var(--j-qkgmf);}

.dir.c1evy5ue[class][class]:disabled::before{background:transparent;}

.c1evy5ue[class][class]::before{content:'';display:block;position:absolute;top:50%;width:32px;height:32px;}

.dir.c1evy5ue[class][class]::before{border-radius:50%;}

.dir-ltr.c1evy5ue[class][class]::before{left:50%;transform:translate(-50%,-50%);}

.dir-rtl.c1evy5ue[class][class]::before{right:50%;transform:translate(50%,-50%);}

.dir.c1evy5ue[class][class]::before{background:transparent;}

@media (hover:hover){
.c1evy5ue[class][class]:hover{color:var(--f-mkcy-f);}

.dir.c1evy5ue[class][class]:hover::before{background:#4a4a4a;}

.c1evy5ue[class][class]:hover:disabled{color:#878787;opacity:1;}

.dir.c1evy5ue[class][class]:hover:disabled::before{background:#4a4a4a;}}

.c1evy5ue[class][class]:active{color:var(--f-mkcy-f);}

.dir.c1evy5ue[class][class]:active::before{background:#4a4a4a;}

.c1evy5ue[class][class]:disabled{color:#878787;opacity:1;}

.dir.c1evy5ue[class][class]:disabled::before{background:#4a4a4a;}

.dir.c1evy5ue[class][class]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c1evy5ue[class][class]:focus::-moz-focus-inner{border:none;}

.c1evy5ue[class][class]:-moz-focusring{outline:none;}

.dir.c1evy5ue[class][class]:focus-visible{transition:box-shadow 0.2s var(--itr-yy-z);}

@media (prefers-reduced-motion:reduce){
.dir.c1evy5ue[class][class]:focus-visible{transition:none;}}

.dir.c1evy5ue[class][class]:focus-visible::before{background:transparent;box-shadow:0 0 0 2px var(--f-mkcy-f);}

@media (hover:hover){
.c1evy5ue[class][class]:focus-visible:hover{color:var(--f-mkcy-f);}}

.c1evy5ue[class][class]:focus-visible:active{color:var(--f-mkcy-f);}

.dir.c1evy5ue[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s var(--itr-yy-z);}

@media (prefers-reduced-motion:reduce){
.dir.c1evy5ue[class][class]:focus[data-focus-visible-added]{transition:none;}}

.dir.c1evy5ue[class][class]:focus[data-focus-visible-added]::before{background:transparent;box-shadow:0 0 0 2px var(--f-mkcy-f);}

@media (hover:hover){
.c1evy5ue[class][class]:focus[data-focus-visible-added]:hover{color:var(--f-mkcy-f);}}

.c1evy5ue[class][class]:focus[data-focus-visible-added]:active{color:var(--f-mkcy-f);}

.c1evy5ue[class][class]::before{width:32px;height:32px;}

.i1mex0yk[class][class]{position:relative;}

.bwqzqvs[class][class]:not(:focus){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.bwqzqvs[class][class]:not(:focus){border:0;padding:0;}

.bcyj2zs[class][class]:not(:focus){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.bcyj2zs[class][class]:not(:focus){border:0;padding:0;}
.c1rbqnus[class][class]{z-index:2000;position:fixed;top:0;bottom:0;max-height:calc(var(--vh,1vh) * 100);}

.dir.c1rbqnus[class][class]{right:0;left:0;}

@supports (max-height:-webkit-fill-available){
.c1rbqnus[class][class]{max-height:max(-webkit-fill-available,calc(var(--vh,1vh) * 100));}}

.dvbgto[class][class]{background:white;overflow:clip;position:relative;height:100%;max-height:100%;width:100vw;max-width:100vw;display:flex;flex-direction:column;}

.dir.dvbgto[class][class]{background:var(--f-mkcy-f);}

@supports not (overflow:clip){
.dvbgto[class][class]{overflow:hidden;}}

.dvbgto[class][class]:focus{outline:none;}



