.c1o8tso4[class][class]{align-items:center;display:flex;font-family:var(--e-ls-qkw);font-weight:var(--e-y-j-d-v-j);}

.c172qi6z[class][class]{font-size:var(--f-cv-j-j-p);line-height:var(--f-l-h-bac);}

.cuwc3c0[class][class]{font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);}

.r15h6pyt[class][class]{color:var(--f-k-smk-x);}

.dir-ltr.ra7n1en[class][class]{padding-left:4px;}

.dir-rtl.ra7n1en[class][class]{padding-right:4px;}

.dir-ltr.r1g840vl[class][class]{padding-left:4px;}

.dir-rtl.r1g840vl[class][class]{padding-right:4px;}

.r1ubg1jz[class][class]{font-weight:var(--jx-zk-pv);}

.r1byftyb[class][class]{color:var(--fo-jk-r-s);}

.d1l7pefg[class][class]{color:var(--f-k-smk-x);}

.s4ecxwd[class][class]{align-items:center;display:flex;color:var(--dls19-brand-color,var(--ihf-tp-q));}
