.c1b36svn[class][class]{color:inherit;display:block;-webkit-text-decoration:none;text-decoration:none;height:100%;width:100%;touch-action:manipulation;}

.dir.c1b36svn[class][class]{background:transparent;border:none;cursor:pointer;margin:0;padding:0;text-align:inherit;}
.ll4r2nl[class][class]:nth-child(1n) .focus-visible[class][class]{outline:2px solid var(--f-k-smk-x);}
.bbkw4bl[class][class]{display:inline-block;position:relative;-webkit-text-decoration:none;text-decoration:none;width:auto;color:black;font-size:14px;font-size:0.875rem;font-family:inherit;touch-action:manipulation;}

.dir.bbkw4bl[class][class]{cursor:pointer;margin:0;text-align:center;border-width:1px;border-style:solid;border-color:black;padding-top:4px;padding-bottom:4px;padding-left:8px;padding-right:8px;background:lightgrey;}

.bbkw4bl[class][class]:disabled{opacity:0.3;}

.dir.bbkw4bl[class][class]:disabled{cursor:not-allowed;}

.c1rxa9od[class][class]{font-family:var(--e-ls-qkw);font-size:var(--iw-ehf-f);line-height:var(---s-l-myu);font-weight:var(--jx-zk-pv);border-radius:var(--go-h-jh-l);outline:none;-webkit-transition:box-shadow 0.2s var(--itr-yy-z),-webkit-transform 0.1s var(--itr-yy-z);-webkit-tap-highlight-color:transparent;color:inherit;display:block;-webkit-text-decoration:none;text-decoration:none;height:100%;width:100%;font-family:inherit;font-size:inherit;line-height:inherit;font-weight:inherit;outline:none;}

.dir.c1rxa9od[class][class]{border-width:1px;border-style:solid;padding-top:14px;padding-bottom:14px;padding-left:24px;padding-right:24px;transition:box-shadow 0.2s var(--itr-yy-z),transform 0.1s var(--itr-yy-z);background:transparent;border:none;border-radius:0;margin:0;padding:0;text-align:inherit;}

@media (prefers-reduced-motion:reduce){
.dir.c1rxa9od[class][class]{transition:none;}}

.c1rxa9od[class][class]:focus-visible{outline:none;}

.dir.c1rxa9od[class][class]:focus-visible{transition:box-shadow 0.2s var(--itr-yy-z);box-shadow:0 0 0 2px rgba(255,255,255,0.8),0 0 0 4px var(--f-k-smk-x);}

.dir.c1rxa9od[class][class]:focus-visible::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c1rxa9od[class][class]:focus-visible:focus::-moz-focus-inner{border:none;}

.c1rxa9od[class][class]:focus-visible:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.c1rxa9od[class][class]:focus-visible{transition:none;}}

.c1rxa9od[class][class]:focus[data-focus-visible-added]{outline:none;}

.dir.c1rxa9od[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s var(--itr-yy-z);box-shadow:0 0 0 2px rgba(255,255,255,0.8),0 0 0 4px var(--f-k-smk-x);}

.dir.c1rxa9od[class][class]:focus[data-focus-visible-added]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c1rxa9od[class][class]:focus[data-focus-visible-added]:focus::-moz-focus-inner{border:none;}

.c1rxa9od[class][class]:focus[data-focus-visible-added]:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.c1rxa9od[class][class]:focus[data-focus-visible-added]{transition:none;}}

.dir.c1rxa9od[class][class]:active{transform:scale(0.96);}

.c1rxa9od[class][class]:disabled{opacity:1;}

.dir.c1rxa9od[class][class]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c1rxa9od[class][class]:focus::-moz-focus-inner{border:none;}

.c1rxa9od[class][class]:-moz-focusring{outline:none;}

.dir.c1rxa9od[class][class]:focus-visible{transition:box-shadow 0.2s var(--itr-yy-z);}

@media (prefers-reduced-motion:reduce){
.dir.c1rxa9od[class][class]:focus-visible{transition:none;}}

.dir.c1rxa9od[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s var(--itr-yy-z);}

@media (prefers-reduced-motion:reduce){
.dir.c1rxa9od[class][class]:focus[data-focus-visible-added]{transition:none;}}

.dir.c1rxa9od[class][class]:active{transform:none;}

.f1idmcrt[class][class]{width:100%;}

.sts6seu[class][class]:not(:focus){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.sts6seu[class][class]:not(:focus){border:0;padding:0;}
.s1j7j14l[class][class]{color:var(--color);height:var(--dls19-pdp-listing-title-line-height,30px);width:100%;}

@media (min-width:744px){
.s1j7j14l[class][class]{width:480px;}}

@media (min-width:1128px){
.dir.s1j7j14l[class][class]{margin-bottom:4px;}}

.s1w8ge8g[class][class]{height:28px;width:66.66666666666666%;display:flex;flex-wrap:wrap;}

.dir.s1w8ge8g[class][class]{padding-top:8px;margin-top:4px;}

@media (min-width:744px){
.s1w8ge8g[class][class]{width:320px;}}

@media (min-width:1128px){
.dir.s1w8ge8g[class][class]{margin-top:0;}}
.s5gbbux[class][class]{display:flex;justify-content:space-between;}

.s1yetfxx[class][class]{flex:auto;}

.s1fqpver[class][class]{height:24px;width:100%;}

@media (min-width:744px){
.s1fqpver[class][class]{width:360px;}}

.safo8pj[class][class]{height:16px;width:120px;}

.dir.safo8pj[class][class]{margin-top:14px;}

.sulhdrh[class][class]{flex:none;height:56px;overflow:hidden;width:56px;}

.dir.sulhdrh[class][class]{border-radius:50%;transform:translate3d(0,0,0);}

.dir-ltr.sulhdrh[class][class]{margin-left:24px;}

.dir-rtl.sulhdrh[class][class]{margin-right:24px;}
.cz6qhuf[class][class]{-webkit-appearance:none;appearance:none;display:inline-block;outline:0;margin:-7px;padding:7px;color:buttontext;background-color:transparent;touch-action:manipulation;display:inline-flex;align-items:center;justify-content:center;color:var(--f-k-smk-x);-webkit-transition:-webkit-transform 0.25s var(--itr-yy-z);outline:none;width:32px;height:32px;}

.dir.cz6qhuf[class][class]{border-radius:50%;border:0;cursor:pointer;border-style:solid;border-width:1px;padding:0;margin:0;background-clip:padding-box;background-color:rgba(255,255,255,0.9);border-color:rgba(0,0,0,0.08);box-shadow:0 0 0 1px transparent,0 0 0 4px transparent,var(--e-swdx-p);transition:transform 0.25s var(--itr-yy-z);}

.cz6qhuf[class][class]:focus-visible{outline:none;}

.dir.cz6qhuf[class][class]:focus-visible{transition:box-shadow 0.2s var(--itr-yy-z);box-shadow:0 0 0 1px rgba(0,0,0,0.5),0 0 0 5px rgba(255,255,255,0.7);}

.dir.cz6qhuf[class][class]:focus-visible::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.cz6qhuf[class][class]:focus-visible:focus::-moz-focus-inner{border:none;}

.cz6qhuf[class][class]:focus-visible:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.cz6qhuf[class][class]:focus-visible{transition:none;}}

.cz6qhuf[class][class]:focus[data-focus-visible-added]{outline:none;}

.dir.cz6qhuf[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s var(--itr-yy-z);box-shadow:0 0 0 1px rgba(0,0,0,0.5),0 0 0 5px rgba(255,255,255,0.7);}

.dir.cz6qhuf[class][class]:focus[data-focus-visible-added]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.cz6qhuf[class][class]:focus[data-focus-visible-added]:focus::-moz-focus-inner{border:none;}

.cz6qhuf[class][class]:focus[data-focus-visible-added]:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.cz6qhuf[class][class]:focus[data-focus-visible-added]{transition:none;}}

.cz6qhuf[class][class]:disabled{opacity:0.5;color:graytext;}

.dir.cz6qhuf[class][class]:disabled{cursor:not-allowed;}

@media (prefers-reduced-motion:reduce){
.dir.cz6qhuf[class][class]{transition:none;}}

.dir.cz6qhuf[class][class]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.cz6qhuf[class][class]:focus::-moz-focus-inner{border:none;}

.cz6qhuf[class][class]:-moz-focusring{outline:none;}

.cz6qhuf[class][class]:focus-visible{color:var(--f-k-smk-x);}

.dir.cz6qhuf[class][class]:focus-visible{transition:box-shadow 0.2s var(--itr-yy-z);border-color:var(--f-k-smk-x);background:var(--f-mkcy-f);box-shadow:0 0 0 1px var(--f-k-smk-x),0 0 0 4px var(--f-mkcy-f),var(--e-swdx-p);transform:scale(1.04);}

@media (prefers-reduced-motion:reduce){
.dir.cz6qhuf[class][class]:focus-visible{transition:none;}}

.cz6qhuf[class][class]:focus[data-focus-visible-added]{color:var(--f-k-smk-x);}

.dir.cz6qhuf[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s var(--itr-yy-z);border-color:var(--f-k-smk-x);background:var(--f-mkcy-f);box-shadow:0 0 0 1px var(--f-k-smk-x),0 0 0 4px var(--f-mkcy-f),var(--e-swdx-p);transform:scale(1.04);}

@media (prefers-reduced-motion:reduce){
.dir.cz6qhuf[class][class]:focus[data-focus-visible-added]{transition:none;}}

@media (hover:hover){
.cz6qhuf[class][class]:hover{color:var(--bgxgx);}

.dir.cz6qhuf[class][class]:hover{border-color:rgba(0,0,0,0.08);background-color:var(--f-mkcy-f);box-shadow:0 0 0 1px transparent,0 0 0 4px transparent,var(--cizosd);transform:scale(1.04);}

.cz6qhuf[class][class]:hover:disabled{color:var(--j-qkgmf);}

.dir.cz6qhuf[class][class]:hover:disabled{border-color:var(--j-qkgmf);background-color:var(--f-mkcy-f);box-shadow:none;transform:scale(1);}}

.cz6qhuf[class][class]:active{color:var(--bgxgx);}

.dir.cz6qhuf[class][class]:active{border-color:rgba(0,0,0,0.08);background-color:var(--f-mkcy-f);box-shadow:none;transform:scale(1);}

.cz6qhuf[class][class]:disabled{color:var(--j-qkgmf);}

.dir.cz6qhuf[class][class]:disabled{border-color:var(--j-qkgmf);background-color:var(--f-mkcy-f);box-shadow:none;transform:scale(1);}

.b3p4o08[class][class]:not(:focus){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.b3p4o08[class][class]:not(:focus){border:0;padding:0;}

.b1mw8jmh[class][class]:not(:focus){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.b1mw8jmh[class][class]:not(:focus){border:0;padding:0;}
