.b1p20n7u[class][class]{display:inline-block;position:relative;-webkit-text-decoration:none;text-decoration:none;width:auto;color:black;font-size:14px;font-size:0.875rem;font-family:inherit;touch-action:manipulation;}

.dir.b1p20n7u[class][class]{cursor:pointer;margin:0;text-align:center;border-width:1px;border-style:solid;border-color:black;padding-top:4px;padding-bottom:4px;padding-left:8px;padding-right:8px;background:lightgrey;}

.b1p20n7u[class][class]:disabled{opacity:0.3;}

.dir.b1p20n7u[class][class]:disabled{cursor:not-allowed;}

.c1n3e6jn[class][class]{font-family:var(--e-ls-qkw);font-size:var(--iw-ehf-f);line-height:var(---s-l-myu);font-weight:var(--jx-zk-pv);outline:none;padding-top:14px;padding-bottom:14px;padding-left:24px;padding-right:24px;-webkit-transition:box-shadow 0.2s var(--itr-yy-z),-webkit-transform 0.1s var(--itr-yy-z);-webkit-tap-highlight-color:transparent;color:var(--f-k-smk-x);font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);padding-top:8px;padding-bottom:8px;padding-left:16px;padding-right:16px;}

.dir.c1n3e6jn[class][class]{border-radius:var(--go-h-jh-l);border-width:1px;border-style:solid;transition:box-shadow 0.2s var(--itr-yy-z),transform 0.1s var(--itr-yy-z);border-color:var(--f-k-smk-x);background:var(--f-mkcy-f);padding-top:7px;padding-bottom:7px;padding-left:15px;padding-right:15px;}

@media (prefers-reduced-motion:reduce){
.dir.c1n3e6jn[class][class]{transition:none;}}

.c1n3e6jn[class][class]:focus-visible{outline:none;}

.dir.c1n3e6jn[class][class]:focus-visible{transition:box-shadow 0.2s var(--itr-yy-z);box-shadow:0 0 0 2px rgba(255,255,255,0.8),0 0 0 4px var(--f-k-smk-x);}

.dir.c1n3e6jn[class][class]:focus-visible::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c1n3e6jn[class][class]:focus-visible:focus::-moz-focus-inner{border:none;}

.c1n3e6jn[class][class]:focus-visible:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.c1n3e6jn[class][class]:focus-visible{transition:none;}}

.c1n3e6jn[class][class]:focus[data-focus-visible-added]{outline:none;}

.dir.c1n3e6jn[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s var(--itr-yy-z);box-shadow:0 0 0 2px rgba(255,255,255,0.8),0 0 0 4px var(--f-k-smk-x);}

.dir.c1n3e6jn[class][class]:focus[data-focus-visible-added]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c1n3e6jn[class][class]:focus[data-focus-visible-added]:focus::-moz-focus-inner{border:none;}

.c1n3e6jn[class][class]:focus[data-focus-visible-added]:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.c1n3e6jn[class][class]:focus[data-focus-visible-added]{transition:none;}}

.dir.c1n3e6jn[class][class]:active{transform:scale(0.96);}

.c1n3e6jn[class][class]:disabled{opacity:1;}

.c1n3e6jn[class][class]:focus-visible{color:var(--f-k-smk-x);}

.dir.c1n3e6jn[class][class]:focus-visible{border-color:var(--f-k-smk-x);box-shadow:0 0 0 2px var(--f-k-smk-x),0 0 0 4px rgba(255,255,255,0.8);}

.c1n3e6jn[class][class]:focus[data-focus-visible-added]{color:var(--f-k-smk-x);}

.dir.c1n3e6jn[class][class]:focus[data-focus-visible-added]{border-color:var(--f-k-smk-x);box-shadow:0 0 0 2px var(--f-k-smk-x),0 0 0 4px rgba(255,255,255,0.8);}

@media (hover:hover){
.c1n3e6jn[class][class]:hover{color:var(--f-k-smk-x);}

.dir.c1n3e6jn[class][class]:hover{border-color:var(--bgxgx);background:var(---pc-g-v-g);}

.c1n3e6jn[class][class]:hover:disabled{color:var(--j-qkgmf);}

.dir.c1n3e6jn[class][class]:hover:disabled{border-color:var(--j-qkgmf);background:var(--f-mkcy-f);}}

.c1n3e6jn[class][class]:active{color:var(--f-k-smk-x);}

.dir.c1n3e6jn[class][class]:active{border-color:var(--bgxgx);background:var(---pc-g-v-g);}

.c1n3e6jn[class][class]:disabled{color:var(--j-qkgmf);}

.dir.c1n3e6jn[class][class]:disabled{border-color:var(--j-qkgmf);background:var(--f-mkcy-f);}

.f1ke9jfs[class][class]{width:100%;}

.s1s33btj[class][class]:not(:focus){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.s1s33btj[class][class]:not(:focus){border:0;padding:0;}
