.cuu4odx[class][class]{font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);align-items:center;display:flex;width:100%;}

.dir-ltr.cuu4odx[class][class]{margin:var(--margin-top,0) var(--margin-right,0) var(--margin-bottom,0) var(--margin-left,0);}

.dir-rtl.cuu4odx[class][class]{margin:var(--margin-top,0) var(--margin-left,0) var(--margin-bottom,0) var(--margin-right,0);}

.cgi6leq[class][class]{font-size:var(--f-cv-j-j-p);line-height:var(--f-l-h-bac);}

.c1frjvtt[class][class]{opacity:1;visibility:visible;visibility:unset;}

.dir.c1frjvtt[class][class]{animation-duration:0.3s;animation-name:fade-in-c1frjvtt;}

@media (prefers-reduced-motion:reduce){
.dir.c1frjvtt[class][class]{animation-duration:0.00001s;}}

@keyframes fade-in-c1frjvtt{
from{opacity:0;}

to{opacity:1;}}

.dir-ltr.resz8wt[class][class]{margin-right:3px;}

.dir-rtl.resz8wt[class][class]{margin-left:3px;}

.mj1p6c8[class][class]{line-height:var(--j-p-z-kco);overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:1;color:var(--fo-jk-r-s);}

.dir-ltr.mj1p6c8[class][class]{margin-right:3px;}

.dir-rtl.mj1p6c8[class][class]{margin-left:3px;}

@supports (overflow:clip){
.mj1p6c8[class][class]{overflow:clip;}}

.ma5pjgj[class][class]{line-height:var(--f-l-h-bac);overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:1;}

@supports (overflow:clip){
.ma5pjgj[class][class]{overflow:clip;}}

.t5bjjeg[class][class]{line-height:var(--j-p-z-kco);overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:1;color:var(--f-k-smk-x);}

@supports (overflow:clip){
.t5bjjeg[class][class]{overflow:clip;}}

.tlu87mv[class][class]{line-height:var(--f-l-h-bac);overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:1;}

@supports (overflow:clip){
.tlu87mv[class][class]{overflow:clip;}}
.c1th86dr[class][class]{--contentscroller_contain:none;--contentscroller_gap:0px;--contentscroller_peek:0;--contentscroller_scrollsnapstop:always;--contentscroller_visible-items:1;--contentscroller_overflow:hidden;--contentscroller_content-visibility:auto;--contentscroller_controls_z-index:1;--contentscroller_height:100%;}

.c1jlwpie[class][class]{--contentscroller_overflow:visible hidden;--contentscroller_contain:layout paint size;}
.cini325[class][class]{position:absolute;bottom:0;display:flex;align-items:flex-end;justify-content:center;min-height:var(--f-fw-z-a-i);white-space:nowrap;}

.dir.cini325[class][class]{left:0;right:0;}
.r1iccxvp[class][class]{display:block;width:100%;height:100%;}
.nckwpl[class][class]{position:absolute;top:50%;pointer-events:auto;}

.dir.nckwpl[class][class]{transform:translateY(-50%);}

.dir-ltr.n1a3583r[class][class]{right:var(--fgg-f-l-a);}

.dir-rtl.n1a3583r[class][class]{left:var(--fgg-f-l-a);}

.dir-ltr.n8ds5k6[class][class]{left:var(--fgg-f-l-a);}

.dir-rtl.n8ds5k6[class][class]{right:var(--fgg-f-l-a);}

.ni7lfv1[class][class]{opacity:1;visibility:visible;}

.dir.ni7lfv1[class][class]{animation-duration:0.3s;animation-name:fade-in-ni7lfv1;}

@media (prefers-reduced-motion:reduce){
.dir.ni7lfv1[class][class]{animation-duration:0.00001s;}}

@keyframes fade-in-ni7lfv1{
from{opacity:0;}

to{opacity:1;}}

.nh16i3g[class][class]{opacity:0;}

.dir.nh16i3g[class][class]{animation-duration:0;}

.ns8ksw6[class][class]{visibility:hidden;}
.lmc5dy3[class][class]{display:block;width:100%;height:100%;}
.o1mwbk2f[class][class]{display:grid;grid-template-columns:minmax(0,1fr);grid-template-rows:repeat(3,1fr);top:0;bottom:0;position:absolute;pointer-events:none;}

.dir.o1mwbk2f[class][class]{right:0;left:0;}

.dir.o1s954ha[class][class]{border-bottom-left-radius:var(--h-l-f-om-o);border-bottom-right-radius:var(--h-l-f-om-o);}

.dir-ltr.o1s954ha[class][class]{background:linear-gradient(180deg,transparent 80%,rgba(0,0,0,0.25));}

.dir-rtl.o1s954ha[class][class]{background:linear-gradient(-180deg,transparent 80%,rgba(0,0,0,0.25));}

.t1vo9cyh[class][class]{display:flex;justify-content:space-between;}

.dir.t1vo9cyh[class][class]{padding:var(--media-overlay_top-row-padding);}

.w7yq9yf[class][class]{pointer-events:auto;}

.dir.w7yq9yf[class][class]{margin-top:-5px;}

.dir-ltr.w7yq9yf[class][class]{margin-right:-3px;}

.dir-rtl.w7yq9yf[class][class]{margin-left:-3px;}

.m1uacxyo[class][class]{display:flex;align-items:center;justify-content:space-between;flex-wrap:nowrap;flex:1;visibility:hidden;}

.mjw3bpi[class][class]{opacity:1;visibility:visible;}

.dir.mjw3bpi[class][class]{animation-duration:0.3s;animation-name:fade-in-mjw3bpi;}

@media (prefers-reduced-motion:reduce){
.dir.mjw3bpi[class][class]{animation-duration:0.00001s;}}

@keyframes fade-in-mjw3bpi{
from{opacity:0;}

to{opacity:1;}}

.miui26z[class][class]{-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.miui26z[class][class]{border:0;padding:0;}

.nhc5psg[class][class]{pointer-events:auto;}

.dir.nhc5psg[class][class]{border:0;background-color:transparent;}

.dir-ltr.n1f034oj[class][class]{margin-right:var(--fgg-f-l-a);}

.dir-rtl.n1f034oj[class][class]{margin-left:var(--fgg-f-l-a);}

.dir-ltr.ni0gafq[class][class]{margin-left:var(--fgg-f-l-a);}

.dir-rtl.ni0gafq[class][class]{margin-right:var(--fgg-f-l-a);}

.b1aww0y7[class][class]{display:flex;justify-content:center;white-space:nowrap;}
.b1vr1agd[class][class]{display:inline-block;position:relative;-webkit-text-decoration:none;text-decoration:none;width:auto;color:black;font-size:14px;font-size:0.875rem;font-family:inherit;touch-action:manipulation;}

.dir.b1vr1agd[class][class]{cursor:pointer;margin:0;text-align:center;border-width:1px;border-style:solid;border-color:black;padding-top:4px;padding-bottom:4px;padding-left:8px;padding-right:8px;background:lightgrey;}

.b1vr1agd[class][class]:disabled{opacity:0.3;}

.dir.b1vr1agd[class][class]:disabled{cursor:not-allowed;}

.vlzgbic[class][class]{font-family:var(--e-ls-qkw);font-size:var(--iw-ehf-f);line-height:var(---s-l-myu);font-weight:var(--jx-zk-pv);border-radius:var(--go-h-jh-l);outline:none;padding:14px 24px;transition:box-shadow 0.2s ease,transform 0.1s ease;outline:none;align-items:center;color:var(--f-k-smk-x);display:inline-flex;justify-content:center;-webkit-transition:-webkit-transform 0.25s var(--itr-yy-z);width:calc(24px + var(--fgg-f-l-a));height:calc(24px + var(--fgg-f-l-a));}

.dir.vlzgbic[class][class]{border-width:1px;border-style:solid;background-color:transparent;border:none;border-radius:50%;margin:0;transition:transform 0.25s var(--itr-yy-z);padding:var(--d-b-mrdy) 0 0 0;}

@media (prefers-reduced-motion:reduce){
.dir.vlzgbic[class][class]{transition:none;}}

.dir.vlzgbic[class][class]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.vlzgbic[class][class]:focus::-moz-focus-inner{border:none;}

.vlzgbic[class][class]:-moz-focusring{outline:none;}

.dir.vlzgbic[class][class]:focus-visible{transition:box-shadow 0.2s var(--itr-yy-z);box-shadow:0 0 0 2px rgba(255,255,255,0.8),0 0 0 4px var(--f-k-smk-x);}

@media (prefers-reduced-motion:reduce){
.dir.vlzgbic[class][class]:focus-visible{transition:none;}}

.dir.vlzgbic[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s var(--itr-yy-z);box-shadow:0 0 0 2px rgba(255,255,255,0.8),0 0 0 4px var(--f-k-smk-x);}

@media (prefers-reduced-motion:reduce){
.dir.vlzgbic[class][class]:focus[data-focus-visible-added]{transition:none;}}

.dir.vlzgbic[class][class]:active{transform:scale(0.96);}

.vlzgbic[class][class]:disabled{opacity:1;}

.dir.vlzgbic[class][class]:focus-visible{box-shadow:0 0 0 2px var(--f-k-smk-x),0 0 0 4px rgba(255,255,255,0.8);}

.dir.vlzgbic[class][class]:focus[data-focus-visible-added]{box-shadow:0 0 0 2px var(--f-k-smk-x),0 0 0 4px rgba(255,255,255,0.8);}

.dir.vlzgbic[class][class]:active{transform:scale(0.92);}
.c1bx80b8[class][class]{color:var( --theme_typography-color-primary, var(--f-k-smk-x) );pointer-events:none;position:relative;}

.dir-ltr.c1bx80b8[class][class]{margin:var(--margin-top,0) var(--margin-right,0) var(--margin-bottom,0) var(--margin-left,0);}

.dir-rtl.c1bx80b8[class][class]{margin:var(--margin-top,0) var(--margin-left,0) var(--margin-bottom,0) var(--margin-right,0);}

.ts5gl90[class][class]{font-weight:var(--title_font-weight,var(--e-y-j-d-v-j));}

.tl3qa0j[class][class]{font-size:var(--ll-l-ys-f);line-height:var(--f-xgviq);line-height:var(--f-xgviq);overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:var(--title_max-num-lines,1);}

@supports (overflow:clip){
.tl3qa0j[class][class]{overflow:clip;}}

.t1jmf1i1[class][class]{font-size:var(--iw-ehf-f);line-height:var(---s-l-myu);line-height:var(---s-l-myu);overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:var(--title_max-num-lines,1);}

@supports (overflow:clip){
.t1jmf1i1[class][class]{overflow:clip;}}

.t1e6bw26[class][class]{font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);line-height:var(--j-p-z-kco);overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:var(--title_max-num-lines,1);}

@supports (overflow:clip){
.t1e6bw26[class][class]{overflow:clip;}}

.t1nzedvd[class][class]{font-size:15px;font-size:0.9375rem;line-height:19px;line-height:1.1875rem;line-height:19px;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:var(--title_max-num-lines,1);}

@supports (overflow:clip){
.t1nzedvd[class][class]{overflow:clip;}}

.t1sv319r[class][class]{word-break:break-all;}

.tjt0m95[class][class]{font-size:var(--fy-rs-ca);line-height:var(--d-ar-t-o-n);font-weight:var(--jx-zk-pv);word-wrap:break-word;}

.dir.tjt0m95[class][class]{margin-bottom:4px;margin-top:4px;}

@media (min-width:744px){
.tjt0m95[class][class]{font-size:var(--lhy-d-yl);line-height:var(--fme-bf-w);}

.dir.tjt0m95[class][class]{margin-bottom:8px;margin-top:6px;}}
.cza9200[class][class]{overflow:hidden;position:relative;-webkit-mask-image:-webkit-radial-gradient(white,black);}

@supports (overflow:clip){
.cza9200[class][class]{overflow:clip;}}

.cza9200[class][class]::after{content:'';position:absolute;top:0;bottom:0;pointer-events:none;}

.dir.cza9200[class][class]::after{left:0;right:0;border-radius:inherit;border:1px solid rgba(0,0,0,0.1);}

.dir-ltr.cf0wwk1[class][class]{border-bottom-left-radius:var(--media-container_border-radius);}

.dir-rtl.cf0wwk1[class][class]{border-bottom-right-radius:var(--media-container_border-radius);}

.dir-ltr.cccwndf[class][class]{border-bottom-right-radius:var(--media-container_border-radius);}

.dir-rtl.cccwndf[class][class]{border-bottom-left-radius:var(--media-container_border-radius);}

.dir-ltr.cof42p7[class][class]{border-top-left-radius:var(--media-container_border-radius);}

.dir-rtl.cof42p7[class][class]{border-top-right-radius:var(--media-container_border-radius);}

.dir-ltr.c1ex7ql7[class][class]{border-top-right-radius:var(--media-container_border-radius);}

.dir-rtl.c1ex7ql7[class][class]{border-top-left-radius:var(--media-container_border-radius);}

.c1lah4g9[class][class]{pointer-events:none;}
.fcg8kp6[class][class]{align-items:center;display:inline-flex;max-width:100%;vertical-align:top;color:var(--formatted-badge_color);}

.dir.fcg8kp6[class][class]{background-clip:padding-box;background-color:var(--formatted-badge_background-color);border:var(--formatted-badge_border);border-radius:var(--h-l-f-om-o);box-shadow:var(--e-swdx-p);padding:var(--h-x-sf-jw) var(--fgg-f-l-a);}

.fcg8kp6[class][class] .t1oq1m17[class][class]{font-size:var(--f-cv-j-j-p);line-height:var(--f-l-h-bac);line-height:var(--f-l-h-bac);overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:1;font-weight:var(--h-oqhch);-webkit-letter-spacing:var(--mq-yk-l);-moz-letter-spacing:var(--mq-yk-l);-ms-letter-spacing:var(--mq-yk-l);letter-spacing:var(--mq-yk-l);text-transform:uppercase;}

@supports (overflow:clip){
.fcg8kp6[class][class] .t1oq1m17[class][class]{overflow:clip;}}

