.s1cjipqq[class][class]{display:none;}

@media print{
.s1cjipqq[class][class]{display:inherit;}}

@media print{
.h1t5cf5u[class][class]{display:none;}}
.ll4r2nl[class][class]:nth-child(1n) .focus-visible[class][class]{outline:2px solid var(--f-k-smk-x);}
.p197t0is[class][class]{color:var(--html-text-color,var(--f-k-smk-x));font-family:var(--e-ls-qkw);font-weight:var(--e-y-j-d-v-j);font-size:var(--html-text-font-size,inherit);line-height:var(--html-text-line-height,var(--cb-pewj));word-break:break-word;}

.dir.pvmbnuq[class][class]{margin-bottom:var(--jhzm-v-t);}
