.cgx2eil[class][class]{position:relative;}
.c1hdiuc1[class][class]{max-width:1280px;max-width:var(--page-shell-max-content-width,1280px);}

.dir.c1hdiuc1[class][class]{margin-inline:auto;padding-inline:24px;}

@media (min-width:744px){
.dir.c1hdiuc1[class][class]{padding-inline:40px;}}

@media (min-width:1440px){
.dir.c1hdiuc1[class][class]{padding-inline:80px;}}
.c1b36svn[class][class]{color:inherit;display:block;-webkit-text-decoration:none;text-decoration:none;height:100%;width:100%;touch-action:manipulation;}

.dir.c1b36svn[class][class]{background:transparent;border:none;cursor:pointer;margin:0;padding:0;text-align:inherit;}
.t1t4uwj[class][class]{font-size:0;}

.dir.t1t4uwj[class][class]{animation-duration:500ms;animation-iteration-count:1;animation-fill-mode:both;}

.dir.s12ltsu3[class][class]{animation-name:slideEnter-s12ltsu3;}

@keyframes slideEnter-s12ltsu3{
0%{opacity:0;transform:translate(0,100%);}

100%{opacity:1;transform:none;}}

.dir.fc9momc[class][class]{animation-name:fadeEnter-fc9momc;}

@keyframes fadeEnter-fc9momc{
0%{opacity:0;}

100%{opacity:1;}}

.dir.sdswib2[class][class]{animation-name:slideLeave-sdswib2;}

@keyframes slideLeave-sdswib2{
0%{opacity:1;transform:none;}

100%{opacity:0;transform:translate(0,100%);}}

.dir.f1nec0hp[class][class]{animation-name:fadeLeave-f1nec0hp;}

@keyframes fadeLeave-f1nec0hp{
0%{opacity:1;}

100%{opacity:0;}}

.d1kc2svl[class][class]{position:absolute;}

.dir-ltr.d1kc2svl[class][class]{right:0;}

.dir-rtl.d1kc2svl[class][class]{left:0;}

.d1kc2svl[class][class]:not(:focus-within){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.d1kc2svl[class][class]:not(:focus-within){border:0;padding:0;}

.d10lpbek[class][class]{font-size:18px;font-size:1.125rem;}

.dir.d10lpbek[class][class]{padding:6px;background-color:white;}

.t544299[class][class]{position:relative;display:flex;flex-direction:row;align-items:center;}
.cvkqy8m[class][class]{display:inline-flex;contain:content;max-width:375px;}

.dir.cvkqy8m[class][class]{box-shadow:var(--ih-jiz-p);border-radius:12px;border:1px solid var(--j-qkgmf);background-color:var(--f-mkcy-f);padding-bottom:12px;}

.dir-ltr.cvkqy8m[class][class]{padding-left:16px;}

.dir-rtl.cvkqy8m[class][class]{padding-right:16px;}

.c1bkvhc0[class][class]{display:flex;align-items:center;height:var(--j-p-z-kco);width:16px;box-sizing:content-box;}

.dir.c1bkvhc0[class][class]{margin-top:12px;}

.dir-ltr.c1bkvhc0[class][class]{padding-right:8px;}

.dir-rtl.c1bkvhc0[class][class]{padding-left:8px;}

.m13w548j[class][class]{display:flex;align-items:baseline;flex-flow:row wrap;color:var(--f-k-smk-x);font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);}

.msszzgn[class][class]{font-weight:var(--e-y-j-d-v-j);}

.dir.msszzgn[class][class]{margin-top:12px;}

.dir-ltr.msszzgn[class][class]{margin-right:16px;}

.dir-rtl.msszzgn[class][class]{margin-left:16px;}

.dir.c9didyw[class][class]{margin-top:6px;}

.dir-ltr.c9didyw[class][class]{margin-right:16px;}

.dir-rtl.c9didyw[class][class]{margin-left:16px;}
.cc8clna[class][class]{display:inline-flex;contain:layout;max-width:375px;}

.dir.cc8clna[class][class]{border:1px solid var(--j-qkgmf);background-color:var(--f-mkcy-f);border-radius:12px;padding:16px;box-shadow:var(--ih-jiz-p);}

.dir-ltr.c1nmbdgw[class][class]{margin-right:12px;}

.dir-rtl.c1nmbdgw[class][class]{margin-left:12px;}

.c1pb09q7[class][class]{width:44px;height:44px;display:flex;align-items:center;justify-content:center;color:var(--f-k-smk-x);color:var(--f-mkcy-f);}

.dir.c1pb09q7[class][class]{background-color:var(--f-k-smk-x);border-radius:50%;}

.m1xvaovl[class][class]{min-width:0;}

.mt0gs0l[class][class]{color:var(--f-k-smk-x);font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);overflow-wrap:break-word;}

.avji9jt[class][class]{display:inline-flex;}

.dir.avji9jt[class][class]{margin-top:12px;}

.dir-ltr.a78a52i[class][class]{margin-right:20px;}

.dir-rtl.a78a52i[class][class]{margin-left:20px;}

.dir-ltr.cwjppr[class][class]{margin-left:12px;}

.dir-rtl.cwjppr[class][class]{margin-right:12px;}

.hjf0km5[class][class]{color:var(--f-k-smk-x);font-weight:var(--h-oqhch);font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);}

.dir.hjf0km5[class][class]{margin-bottom:4px;}

.h68yx36[class][class]{color:var(--fo-jk-r-s);}
.c16f2viy[class][class]{display:flex;align-items:stretch;justify-content:flex-start;flex-wrap:wrap;width:100%;width:calc(100% + var(--b-y-unon));}

.dir.c16f2viy[class][class]{margin-left:calc(-1 * var(--b-y-unon) / 2);margin-right:calc(-1 * var(--b-y-unon) / 2);}

@media (min-width:375px){
.c16f2viy[class][class]{width:calc(100% + var(--b-y-unon));}

.dir.c16f2viy[class][class]{margin-left:calc(-1 * var(--b-y-unon) / 2);margin-right:calc(-1 * var(--b-y-unon) / 2);}}

@media (min-width:744px){
.c16f2viy[class][class]{width:calc(100% + var(--jaa-ni-h));}

.dir.c16f2viy[class][class]{margin-left:calc(-1 * var(--jaa-ni-h) / 2);margin-right:calc(-1 * var(--jaa-ni-h) / 2);}}

@media (min-width:950px){
.c16f2viy[class][class]{width:calc(100% + var(--jaa-ni-h));}

.dir.c16f2viy[class][class]{margin-left:calc(-1 * var(--jaa-ni-h) / 2);margin-right:calc(-1 * var(--jaa-ni-h) / 2);}}

@media (min-width:1128px){
.c16f2viy[class][class]{width:calc(100% + var(--jaa-ni-h));}

.dir.c16f2viy[class][class]{margin-left:calc(-1 * var(--jaa-ni-h) / 2);margin-right:calc(-1 * var(--jaa-ni-h) / 2);}}

@media (min-width:1440px){
.c16f2viy[class][class]{width:calc(100% + var(--jaa-ni-h));}

.dir.c16f2viy[class][class]{margin-left:calc(-1 * var(--jaa-ni-h) / 2);margin-right:calc(-1 * var(--jaa-ni-h) / 2);}}
.c119yg0h[class][class]{display:inline-flex;contain:layout;max-width:375px;}

.dir.c119yg0h[class][class]{border:1px solid var(--j-qkgmf);background-color:var(--f-mkcy-f);border-radius:12px;padding:16px;box-shadow:var(--ih-jiz-p);}

.dir-ltr.c1jb18w0[class][class]{margin-right:12px;}

.dir-rtl.c1jb18w0[class][class]{margin-left:12px;}

.c1mx7kc4[class][class]{width:44px;height:44px;display:flex;align-items:center;justify-content:center;color:var(--f-k-smk-x);color:var(--f-mkcy-f);background-color:var(--f-k-smk-x);border-radius:50%;color:var(--f-mkcy-f);}

.dir.c1mx7kc4[class][class]{background-color:var(--k-va-tnc);border-radius:50%;}

.mflwsjl[class][class]{min-width:0;}

.m1pco9ml[class][class]{color:var(--f-k-smk-x);font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);overflow-wrap:break-word;}

.a1wbqtf7[class][class]{display:inline-flex;}

.dir.a1wbqtf7[class][class]{margin-top:12px;}

.dir-ltr.a1vp9ve8[class][class]{margin-right:20px;}

.dir-rtl.a1vp9ve8[class][class]{margin-left:20px;}

.dir-ltr.cjebm9f[class][class]{margin-left:12px;}

.dir-rtl.cjebm9f[class][class]{margin-right:12px;}

.htcl193[class][class]{color:var(--f-k-smk-x);font-weight:var(--h-oqhch);font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);}

.dir.htcl193[class][class]{margin-bottom:4px;}

.h12nu6di[class][class]{color:var(--fo-jk-r-s);}
